@import "config";
@import "bourbon/bourbon";
@import "breakpoint";
@import "mixin";

section#carousel {
	// border: 1px solid #f00;
	#showCarousel {
		width: 100%;
		min-height: 250px;
		max-height: 450px;
		position: relative;
		box-sizing: border-box;
		overflow: hidden;
		.owl-item {
			width: 100%;
			height: 100%;
			display: block;
			background-position: center center;
			background-size: auto 100%;
			background-repeat: no-repeat;
			background-color: #000;
			>a {
				position: relative;
				display: block;
				height: 400px;
			}
			.caption {
				position: absolute;
				bottom: 0;
				line-height: 30px;
				width: 100%;
				display: block;
				color: $colorZ9;
				text-align: center;
				background-color: rgba(0, 0, 0, .5);
				opacity: 0;
				&:hover {
					opacity: .8;
				}
			}
		}
		.owl-dots {
			margin-bottom: 15px;
			.owl-dot.active span,
			.owl-dot:hover span {
				background: $colorA5;
			}
		}
		.owl-nav {
			display: block !important;
			.owl-prev,
			.owl-next {
				position: absolute;
				top: 50%;
				width: 45px;
				height: 45px;
				border-radius: 50%;
				font-size: 3em;
				line-height: 45px;
				text-align: center;
				padding: 0;
				opacity: .5;
				color: $colorCa;
				transition: all .5s;
				background-color: transparent;
				margin-top: -23px; // border:solid 2px $colorA6;
				&:hover {
					opacity: 1;
					color: $colorCf;
					background-color: $colorA5;
				}
			}
			.owl-prev {
				left: 0px;
			}
			.owl-next {
				right: 0px;
			}
		}
		.active {
			position: relative;
			z-index: 10;
		}
		.owl-stage-outer {
			height: inherit;
		}
		@include breakpoint($Phone) {
			width: 100%;
		}
		;
	}
	&:after {
		content: "";
		width: 100%;
		height: 0;
		clear: both;
		display: block;
		overflow: hidden;
	}
}

section#recommendedfarm {
	padding: 0 15px;
	.panel {
		margin: 0;
		box-shadow: none;
		border-radius: 0;
		.panel-heading {
			border-bottom: 1px solid $colorA5;
			color: $colorA5;
			padding-left: 0;
			padding-right: 0;
		}
		.panel-body {
			padding: 10px 0;
			>.inner {
				padding-left: 40px;
				padding-right: 40px;
			}
			#farmCarousel {
				max-height: 140px;
				.owl-item {
					width: 100%;
					min-height: 128px;
					max-height: 140px;
					display: inline-block;
					>a {
						display: block;
						.pic {}
						.caption {
							padding: 4px 0 6px 0;
							text-align: center;
						}
					}
				}
				.owl-dots {
					margin-bottom: 0;
					.owl-dot.active span,
					.owl-dot:hover span {
						background: $colorA5;
					}
				}
				.owl-nav {
					display: block !important;
					.owl-prev,
					.owl-next {
						position: absolute;
						top: 50%;
						width: 45px;
						height: 45px;
						border-radius: 50%;
						font-size: 3em;
						line-height: 45px;
						text-align: center;
						padding: 0;
						opacity: .5;
						color: $colorCa;
						transition: all .5s;
						background-color: transparent;
						margin-top: -23px; // border:solid 2px $colorA6;
						&:hover {
							opacity: 1;
							color: $colorCf;
							background-color: $colorA5;
						}
					}
					.owl-prev {
						left: -50px;
					}
					.owl-next {
						right: -50px;
					}
				}
			}
		}
	}
}

section#goodslist {
	padding: 0 15px;
	.panel {
		box-shadow: none;
		.panel-heading {
			border-bottom: 1px solid $colorA5;
			color: $colorA5;
			padding-left: 0;
			padding-right: 0;
		}
		.panel-body {
			padding: 10px 0;
			.item {
				display: inline-block;
				float: left;
				padding: 8px 4px;
				@media(max-width: 768px) {
					display: block;
				}
				>.inside {
					border: 1px solid $colorZ7;
					padding: 4px;
					&:hover {
						border: 1px solid $colorA5;
					}
				}
				figure {
					width: 100%;
					display: inline-block;
					img {
						width: 100%;
					}
				}
				.body {
					position: relative;
					width: 100%;
					min-height: 113px;
					display: inline-block;
					overflow: visible;
					>.name {
						padding-bottom: 10px;
					}
					>.price {
						color: #d53200;
						font-weight: bold;
						del {
							font-size: .8em;
							color: #aaa;
							display: block;
						}
					}
					>.medal {
						position: absolute;
						top: 15px;
						right: 5px;
						width: 25px;
						height: 40px;
						background-image: url('../images/medal.png');
						background-size: 100%;
						background-repeat: no-repeat;
						background-position: center center;
						text-align: center;
						padding-top: 8px;
						color: $colorA4;
						font-weight: bold;
					}
					button {
						position: absolute;
						bottom: 0;
						border-radius: 0;
						padding: 2px;
						background-color: #ddd;
						&:before {
							display: inline-block;
							font-family: FontAwesome;
							font-style: normal;
							font-weight: normal;
							text-decoration: inherit;
							width: 45px;
							height: 25px;
							line-height: 25px;
							text-align: center;
							color: $colorZ9;
							font-size: 1.1em;
						}
						&.toLove {
							right: 52px;
							&:before {
								color: #dd1c5d;
								content: '\f08a';
							}
						}
						&.toCart {
							right: 0;
							&:before {
								color: #888;
								content: '\f07a';
							}
						}
					}
				}
			}
		}
	}
}

section#itemTitleBox {
	position: relative;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	margin-top:15px;
	margin-bottom: -10px;
	h2.title {
		font-size: 1.5em;
	}
	.tolove {
		position: absolute;
		right: 0;
		top: 0;
		button {
			border-radius: 2px;
			padding: 0;
			background-color: #ddd;
			&:before {
				display: inline-block;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
				width: 35px;
				height: 20px;
				line-height: 20px;
				text-align: center;
				color: $colorZ9;
				font-size: 1em;
				color: #dd1c5d;
				content: '\f08a';
			}
		}
		span {
			font-size: .7em;
			margin-left: 5px;
			color: $colorZ3;
		}
	}
	.subtitle {
		padding: 10px 0;
	}
}

section#carouselBox {
	&:after {
		content: "";
		clear: both;
		width: 100%;
		height: 0;
		display: block;
	}
	.owl-carousel {
		display: block;
		float: left;
		width: 100%;
		.owl-item {
			display: block;
			float: left;
			width: 100%;
			.item {
				position: relative;
				display: block;
				float: left;
				width: 100%;
				background-color: $colorZ0;
				img {
					// min-width: 100%;
					height: 100%;
					// position: absolute;
					display: block;
					// left: 50%;
					// top: 50%;
					// transform: translateY(-50%) translateX(-50%);
					// -webkit-transform: translateY(-50%) translateX(-50%);
					z-index: -1;
				}
				video {
					min-width: 100%;
					min-height: 100%;
				}
			}
		}
		.owl-nav {
			display: none;
		}
	}
}


section#itemPriceBox {
	position: relative;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border-bottom: 1px dashed #ccc;
	.price {
		del {
			font-size: .9em;
			color: #aaa;
			display: block;
			margin-bottom: 5px;
		}
		span {
			font-size: 1.2em;
			color: #d53200;
			font-weight: bold;
		}
	}
	.toCart {
		position: absolute;
		right: 0;
		top: 0;
		button {
			border-radius: 2px;
			padding: 0;
			padding-right: 20px;
			background-color: #ddd;
			color: $colorZ2;
			font-size: 1.2em;
			&:before {
				display: inline-block;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
				width: 55px;
				height: 50px;
				line-height: 50px;
				text-align: center;
				color: $colorZ9;
				font-size: 1.2em;
				color: #dd1c5d;
				content: '\f07a';
			}
		}
	}
	.reserve {
		padding: 5px 0;
	}
}

section#itemAboutBox {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	.panel {
		box-shadow: none;
		.panel-heading {
			border-bottom: 1px solid $colorA5;
			color: #FC8C10;
			padding: 0 0 5px 0;
			border-radius: 0;
			font-size: 1.3em;
		}
		.panel-body {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
}

section#itemOwnerBox {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	.panel {
		box-shadow: none;
		.panel-heading {
			color: #FC8C10;
			padding: 0 0 5px 0;
			border-radius: 0;
			font-size: 1.3em;
		}
		.panel-body {
			padding-top: 3px;
			padding-bottom: 10px;
			padding-left: 0;
			padding-right: 0;
			>.inner {
				position: relative;
				background-color: #eee;
				padding: 4px;
				.pic {
					width: 30%;
					float: left;
				}
				.name {
					width: 69%;
					float: right;
					line-height: 25px;
					font-weight: bold;
				}
				.info {
					width: 69%;
					float: right;
					font-size: .9em;
					padding: 5px 0;
				}
				&:before {
					content: "";
					width: 100%;
					height: 0;
					clear: both;
				}
			}
		}
	}
}

section#itemNutrientBox {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	.panel {
		box-shadow: none;
		.panel-heading {
			border-bottom: 1px solid $colorA5;
			color: #FC8C10;
			padding: 0 0 5px 0;
			border-radius: 0;
			font-size: 1.3em;
		}
		.panel-body {
			padding-top: 3px;
			padding-bottom: 10px;
			>.inner {
				img {
					margin-top: 10px;
				}
				ul {
					li {
						padding: 5px 0;
						span {
							margin-right: 15px;
						}
					}
				}
			}
		}
	}
}

section#itemCertificateBox {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	.panel {
		box-shadow: none;
		.panel-heading {
			// border-bottom: 1px solid $colorA5;
			color: #FC8C10;
			padding: 0 0 5px 0;
			border-radius: 0;
			font-size: 1.3em;
		}
		.panel-body {
			padding-top: 3px;
			padding-bottom: 10px;
			>.inner {
				text-align: center;
				ul {
					li {
						display: inline-block;
						width: 25%;
						padding: 0 5px;
					}
				}
			}
		}
	}
}

section#itemSeasonBox {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	.panel {
		box-shadow: none;
		.panel-heading {
			border-bottom: 1px solid $colorA5;
			color: #FC8C10;
			padding: 0 0 5px 0;
			border-radius: 0;
			font-size: 1.3em;
		}
		.panel-body {
			padding-top: 10px;
			padding-bottom: 10px;
			>.inner {}
		}
	}
}

section#itemStorageBox {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	.panel {
		box-shadow: none;
		.panel-heading {
			border-bottom: 1px solid $colorA5;
			color: #FC8C10;
			padding: 0 0 5px 0;
			border-radius: 0;
			font-size: 1.3em;
		}
		.panel-body {
			padding-top: 10px;
			padding-bottom: 10px;
			>.inner {}
		}
	}
}

section#itemPlantingAreaBox {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	.panel {
		box-shadow: none;
		.panel-heading {
			border-bottom: 1px solid $colorA5;
			color: #FC8C10;
			padding: 0 0 5px 0;
			border-radius: 0;
			font-size: 1.3em;
		}
		.panel-body {
			padding-top: 10px;
			padding-bottom: 10px;
			>.inner {}
		}
	}
}

section#itemRecipeBox {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	.panel {
		box-shadow: none;
		.panel-heading {
			border-bottom: 1px solid $colorA5;
			color: #FC8C10;
			padding: 0 0 5px 0;
			border-radius: 0;
			font-size: 1.3em;
		}
		.panel-body {
			padding-top: 10px;
			padding-bottom: 10px;
			>.inner {}
			.items {
				.item {
					display: inline-block;
					margin-bottom: 10px;
					a {
						>img {
							max-width: 110px;
						}
						>h4 {
							padding: 5px 0;
							text-align: center;
						}
					}
				}
			}
		}
	}
}

section#itemAddressBox {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	.panel {
		box-shadow: none;
		.panel-heading {
			border-bottom: 1px solid $colorA5;
			color: #FC8C10;
			padding: 0 0 5px 0;
			border-radius: 0;
			font-size: 1.3em;
		}
		.panel-body {
			padding-top: 10px;
			padding-bottom: 10px;
			>.inner {}
			.add {
				padding: 10px 0;
				&:before {
					display: inline-block;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-decoration: inherit;
					color: $colorZ9;
					font-size: 1.2em;
					color: $colorA5;
					content: '\f041';
					margin-right: 8px;
				}
			}
			.map {
				iframe {
					width: 100%;
					height: 100%;
					min-height: 400px;
				}
			}
		}
	}
}

section#itemShippingInfoBox {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	.panel {
		box-shadow: none;
		.panel-heading {
			border-bottom: 1px solid $colorA5;
			color: #FC8C10;
			padding: 0 0 5px 0;
			border-radius: 0;
			font-size: 1.3em;
		}
		.panel-body {
			padding-top: 10px;
			padding-bottom: 10px;
			>.inner {}
		}
	}
}

section#itemDeliveryMethodBox {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	.panel {
		box-shadow: none;
		.panel-heading {
			border-bottom: 1px solid $colorA5;
			color: #FC8C10;
			padding: 0 0 5px 0;
			border-radius: 0;
			font-size: 1.3em;
		}
		.panel-body {
			padding-top: 10px;
			padding-bottom: 10px;
			>.inner {}
		}
	}
}

section#itemDiscountPortfolioBox {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	.panel {
		box-shadow: none;
		.panel-heading {
			// border-bottom: 1px solid $colorA5;
			// color: #FC8C10;
			padding: 0 0 5px 0;
			// border-radius: 0;
			font-size: 1.3em;
		}
		.panel-body {
			padding: 10px 8px;
			border: 1px solid rgba($colorZ0, .2);
			border-radius: 5px;
			>.inner {}
			.items {
				padding-bottom: 10px;
					// margin-left: 20px;
				.item {
					position: relative;
					display: inline-block;
					float: left;
					width: 33.3333%;
					max-width: 120px;
					padding-right: 20px;
					img {
						width: 100%;

					}
					h4 {
						text-align: center;
					}
					&:after {
						position: absolute;
						right: 3px;
						top: 30px;
						content: "+";
						font-size: 1.6em;
						color: $colorZ5;
					}
					&:last-child:after {
						content: none;
					}
				}
				&:after {
					content:"";
					display: block;
					width: 100%;
					height: 0;
					clear: both;
				}
			}
			.btnBox {
				margin-left: -8px;
				margin-right: -8px;
				margin-bottom: -10px;
				.btn {
					border-top-left-radius: 0;
					border-top-right-radius: 0;
					width: 100%;
				}
			}
		}
	}
}

section#itemRelatedBox {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px !important;
	.panel {
		box-shadow: none;
		.panel-heading {
			// border-bottom: 1px solid $colorA5;
			// color: #FC8C10;
			padding: 0 0 5px 0;
			// border-radius: 0;
			font-size: 1.3em;
		}
		.panel-body {
			padding-left: 0;
			padding-right: 0;
			padding-top: 4px;
			padding-bottom: 0;
			>.inner {
				padding-bottom: 10px;
				overflow-x: auto;
			}
			.items {
				min-width: 1170px;
				.item {
					display: inline-block;
					margin-bottom: 10px;
					margin-right: 10px;
					a {
						>img {
							max-width: 110px;
						}
						>h4 {
							padding: 5px 0;
							text-align: center;
						}
						.star {
							font-size: .9em;
							text-align: right;
							color: $colorZ3;
							i {
								float: left;
								color: $colorA5;
								&:last-child {
									margin-right: 4px;
								}
							}
						}
						.price {
							text-align: right;
							padding-top: 8px;
							del {
								font-size: .9em;
								margin-right: 5px;
							}
							strong {
								// font-size: 1.2em;
							}
						}
					}
				}
			}
		}
	}
}
section#itemOrderRelatedBox {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	.panel {
		box-shadow: none;
		.panel-heading {
			// border-bottom: 1px solid $colorA5;
			// color: #FC8C10;
			padding: 0 0 5px 0;
			// border-radius: 0;
			font-size: 1.3em;
		}
		.panel-body {
			padding-left: 0;
			padding-right: 0;
			padding-top: 4px;
			padding-bottom: 0;
			>.inner {
				padding-bottom: 10px;
				overflow-x: auto;
			}
			.items {
				min-width: 1170px;
				.item {
					display: inline-block;
					margin-bottom: 10px;
					margin-right: 10px;
					a {
						>img {
							max-width: 110px;
						}
						>h4 {
							padding: 5px 0;
							text-align: center;
						}
						.star {
							font-size: .9em;
							text-align: right;
							color: $colorZ3;
							i {
								float: left;
								color: $colorA5;
								&:last-child {
									margin-right: 4px;
								}
							}
						}
						.price {
							text-align: right;
							padding-top: 8px;
							del {
								font-size: .9em;
								margin-right: 5px;
							}
							strong {
								// font-size: 1.2em;
							}
						}
					}
				}
			}
		}
	}
}

section#itemQABox {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px !important;
	.panel {
		box-shadow: none;
		.panel-heading {
			// border-bottom: 1px solid $colorA5;
			// color: #FC8C10;
			padding: 0 0 5px 0;
			// border-radius: 0;
			font-size: 1.3em;
		}
		.panel-body {
			padding-left: 0;
			padding-right: 0;
			padding-top: 4px;
			padding-bottom: 0;
			>.inner {
				padding-bottom: 10px;
			}
			span.input-group-btn .btn {
				border-color: $colorA5;
			}
			ul.list-unstyled {
				margin-top: 8px;
				border: 1px solid rgba($colorA5, 1);
				border-radius: 5px;
				padding: 4px;
				li {
					margin-bottom: 10px;
					.media-body {
						position: relative;
						padding: 4px 8px 4px 35px;
						line-height: 1.6em;
						border-bottom: 1px dashed $colorZ7;
						.question {
							position: relative;
							&:before {
								position: absolute;
								left: -23px;
								content: "問:";
								font-weight: bold;
							}
						}
						.answer {
							position: relative;
							&:before {
								position: absolute;
								left: -23px;
								content: "答:";
								font-weight: bold;
							}
						}
						.author {
							color: $colorZ4;
							font-size: .85em;
							.name {
								line-height: 1em;
								display: inline-block;
								padding-right:5px;
								border-right: 1px solid $colorZ6;
							}
							.date {
								display: inline-block;
							}
						}
						>a {
							position: absolute;
							top: 25%;
							right: 5px;
							color: $colorZ2;
							&:before {
								content: "\f105";
								font-family: FontAwesome;
								font-style: normal;
								font-weight: normal;
								text-decoration: inherit;
								color: $colorZ2;
								font-size: 1.8em;
								padding: 2px 10px;
							}
							&:hover:before {
								color: $colorA4;
							}
						}
					}
					&:last-child .media-body {
						border-bottom: 0;
					}
				}
			}
		}
	}
}

section#itemFeedbackBox {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	.panel {
		box-shadow: none;
		.panel-heading {
			// border-bottom: 1px solid $colorA5;
			// color: #FC8C10;
			padding: 0 0 10px 0;
			// border-radius: 0;
			font-size: 1.3em;
		}
		.panel-body {
			padding: 10px 8px;
			border: 1px solid rgba($colorZ0, .2);
			border-radius: 5px;
			>.inner {}
			ul.list-unstyled {
				li.media {
					position: relative;
					padding: 4px 10px 4px 10px;
					line-height: 1.6em;
					border-bottom: 1px dashed $colorZ7;
					.title {
						font-weight: bold;
						padding: 8px 0;
					}
					.star {
						i {
							color: $colorA5;
							font-size: 1.4em;
						}
					}
					.comment {
						img {
							max-width: 100px;
							margin-right: 5px;
						}
					}
					.author {
						color: $colorZ4;
						font-size: .85em;
						.name {
							line-height: 1em;
							display: inline-block;
							padding-right:5px;
							border-right: 1px solid $colorZ6;
						}
						.date {
							display: inline-block;
						}
					}
					&:last-child {
						border-bottom: 0;
					}
				}
			}
			.btnBox {
				border-top: 1px solid $colorZ7;
				padding-top: 7px;
				.btn {
					width: 100%;
				}
			}
		}
	}
}
section#itemOrderUserBox {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	.panel {
		box-shadow: none;
		.panel-heading {
			// border-bottom: 1px solid $colorA5;
			// color: #FC8C10;
			padding: 0 0 5px 0;
			// border-radius: 0;
			font-size: 1.3em;
		}
		.panel-body {
			padding-left: 0;
			padding-right: 0;
			padding-top: 4px;
			padding-bottom: 0;
			>.inner {
				padding-bottom: 10px;
				overflow-x: auto;
			}
			.items {
				min-width: 1170px;
				.item {
					display: inline-block;
					margin-bottom: 10px;
					margin-right: 10px;
					a {
						>img {
							max-width: 110px;
						}
						>h4 {
							padding: 5px 0;
							text-align: center;
						}
						.star {
							font-size: .9em;
							text-align: right;
							color: $colorZ3;
							i {
								float: left;
								color: $colorA5;
								&:last-child {
									margin-right: 4px;
								}
							}
						}
						.price {
							text-align: right;
							padding-top: 8px;
							del {
								font-size: .9em;
								margin-right: 5px;
							}
							strong {
								// font-size: 1.2em;
							}
						}
					}
				}
			}
		}
	}
}


section#itemCartListBox {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	background-color: $colorZ7;
	.panel {
		box-shadow: none;
		background-color: transparent;
		.panel-heading {
			// border-bottom: 1px solid $colorA5;
			// color: #FC8C10;
			padding: 15px 0;
			// border-radius: 0;
			font-size: 1.3em;
			text-align: center;
		}
		.panel-body {
			padding-left: 0;
			padding-right: 0;
			padding-top: 4px;
			padding-bottom: 0;
			>.inner {
				padding: 10px;
			}
			.items {
				background-color: $colorZ9;
				box-shadow: 0 5px 15px rgba(0,0,0,.3);
				margin-bottom: 15px;
				h2 {
					padding: 8px;
					&:before {
						font-family: FontAwesome;
						font-style: normal;
						font-weight: normal;
						text-decoration: inherit;
						content:"\f046";
						margin-right: 5px;
						font-size: 1.4em;
						color: #1E90C3;
					}
				}
				.item {
					position: relative;
					display: inline-block;
					margin-bottom: 0;
					margin-right: 0;
					width: 100%;
					padding: 12px 200px 12px 40px;
					border-bottom: 1px solid #1E90C3;
					>* {
						display: inline-block;
					}

					.choose {
						position: absolute;
						left: 0;
						width: 40px;
						padding-left: 15px;
					}
					.info {
						position: relative;
						width: 100%;
						padding-top: 30px;
						.owner {
							position: absolute;
							top: 0;
							img {
								max-width: 20px;
								margin-right: 4px;
								float: left;
							}
						}
						.pic {
							display: inline-block;
						}
						.name {
							position: absolute;
							width: 100%;
							line-height: 1.6em;
							display: inline-block;
							padding-left: 15px;
						}
					}
					.cont {
						position: absolute;
						line-height: 1.6em;
						top: 25%;
						right: 110px;
					}
					.price {
						position: absolute;
						width: 100px;
						right: 0;
						top: 25%;
						line-height: 1.6em;
						text-align: right;
						padding-right: 10px;
						mark {
							padding: 2px 4px;
							background-color: #1E90C3;
							color: $colorZ9
						}
					}
				}

				.total {
					width: 100%;
					padding: 10px;
					.useCoin {
						width: 80%;
					}
					.fare {
						span {
							display: inline-block;
							color: $colorZ9;
							margin-top: 8px;
							padding: 2px 4px;
							width: auto;
							background-color: #1E90C3;
						}
					}
					.price {
						float: right;
						width: 20%;
					}
					&:after {
						content: "";
						display: block;
						width: 100%;
						height: 0;
						clear: both;
					}
				}
			}
			.checkout {
				background-color: $colorZ9;
				box-shadow: 0 5px 15px rgba(0,0,0,.3);
				margin-bottom: 15px;
				padding: 8px;
				.total {
					text-align: right;
					padding: 15px 8px;
					font-size: 1.1em;
					span {
						font-size: 1.3em;
						display: inline-block;
						margin-left: 8px;
					}
				}
				.btn {
					width: 100%;
					font-size: 1.2em;
				}
			}
		}
	}
}


section#itemBeforeLookBox {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	.panel {
		box-shadow: none;
		.panel-heading {
			// border-bottom: 1px solid $colorA5;
			// color: #FC8C10;
			padding: 0 0 5px 0;
			// border-radius: 0;
			font-size: 1.3em;
		}
		.panel-body {
			padding-left: 0;
			padding-right: 0;
			padding-top: 4px;
			padding-bottom: 0;
			>.inner {
				padding-bottom: 10px;
				overflow-x: auto;
			}
			.items {
				min-width: 1170px;
				.item {
					display: inline-block;
					margin-bottom: 10px;
					margin-right: 10px;
					a {
						>img {
							max-width: 110px;
						}
						>h4 {
							padding: 5px 0;
							text-align: center;
						}
						.star {
							font-size: .9em;
							text-align: right;
							color: $colorZ3;
							i {
								float: left;
								color: $colorA5;
								&:last-child {
									margin-right: 4px;
								}
							}
						}
						.price {
							text-align: right;
							padding-top: 8px;
							del {
								font-size: .9em;
								margin-right: 5px;
							}
							strong {
								// font-size: 1.2em;
							}
						}
					}
				}
			}
		}
	}
}

section.formlist {
	.row > label.control-label ,
	[class^="col-"] > label.control-label {
		padding-left: 8px;
		&:before {
			content:"\f138";
			display: inline-block;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
			color: $colorB7;
			font-size: 1.1em;
			margin-right: 5px;
		}
		&:after {
			content:"：";
		}
	}
}

section[id*=addItemstep] {

	>* {
		margin: 0;
		>.row {
			margin: 0;
		}
	}
	label.control-label {
		font-size: 1.1em;
		// border-top: 1px dotted $colorZ5;
	}
	.form-control {
		border-color: $colorB8;
		padding: 3px 8px;
		height: 30px;
	}
	textarea.form-control {
		height: auto;
	}
	.row {
		> [class^="col"]:not(.control-label) {
			padding: 8px 15px;
		}
		// &:first-child label.control-label {
		// 	border-top: 0;
		// }
	}
	label.next {
		@media(max-width: 768px) {
			display: block;
			text-align: center;
			.btn-next {
				float: none;
				width: 100%;
			}
		}
	}
	.btn-next {
		padding: 4px 30px;
		color: $colorZ9;
		font-size: 1.1em;
		font-weight: 100;
		background-color: $colorB4;
		float: right;
	}
	.form-control-static {
		min-height: auto;
	}
	input[type="radio"] {
		margin-top: 0;
		// background-color: $colorB6;
    	border-color: $colorB6;
	}
	.form-group input[type=text] {
		min-width: auto;
	}
	.form-group {
		margin-bottom: 0;
	}
}


section#addItemstep1 {
	>.row {
		border-bottom: 1px dotted $colorZ5;
		> label.control-label {
			padding-top: 12px;
		}
		.input-flex {
			select.form-control {
				margin-right: 5px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	label.control-label +  [class^="col"] {
		padding-top: 0;
	}
	.btn-newshoptype {
		background-color: transparent;
		border: 1px solid $colorB5;
		&:before {
			content:"\f138";
			display: inline-block;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
			color: $colorB7;
			font-size: 1.1em;
			margin-right: 5px;
		}
	}
}
section#addItemstep2 {
	.plan {
		position: relative;
		padding: 8px 5px;
		border-bottom: 1px dotted $colorZ5;
	}
	.btn-newshoptype {
		background-color: transparent;
		border: 1px solid $colorB5;
		&:before {
			content:"\f067";
			display: inline-block;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
			color: $colorB5;
			font-size: 1.1em;
			margin-right: 5px;
		}
	}
	.btn-close {
		background-color: transparent;
		border: 1px solid $colorZ5;
		float: right;
		&:before {
			content:"\f00d";
			display: inline-block;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
			color: $colorZ5;
			font-size: .9em;
		}
	}
}
section#addItemstep3 {
	>.row {
		border-bottom: 1px dotted $colorZ5;
		> [class^="col"] {
			padding: 4px;
			span.img-select-btn {
				width: 100%;
				input[type*='file'] {
					width: 100%;
				}
			}
		}
	}
}
section#addItemstep4 {
	.timer {
		position: relative;
		padding: 8px 5px;
		border-bottom: 1px dotted $colorZ5;
		.input-flex {
			select.form-control {
				margin-right: 5px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
section#addItemstep5 {
	>.row {
		border-bottom: 1px dotted $colorZ5;
		> [class^="col"] {
			padding-left: 0;
		}
		&:first-child {
			select.form-control {
				width: auto;
				display: inline-block;
			}
		}
	}
	label.control-label {
		padding-left: 0;
	}
}
section#addItemstep6 {
	>.row {
		border-bottom: 1px dotted $colorZ5;
		> label.control-label {
			padding-top: 12px;
		}
	}
	label.control-label +  [class^="col"] {
		padding-top: 0;
	}
}
section#addItemstep7 {
	label.radio-inline {
		img {
			max-width: 26px;
		}
	}
	>.row {
		border-bottom: 1px dotted $colorZ5;
		>[class^="col-"] {
			>.row {
				margin: 0;
				>[class^="col-"] {
					h4.form-control-static {
						&:after {
							content:"：";
						}
					}
				}
			}
			.nutrientcntent {
				border: 1px solid $colorZ7;
				.row {
					margin: 0;
					border-bottom: 1px solid $colorZ7;
					[class^="col-"] {
						padding: 5px 8px;
					}
					&:first-child {
						strong {
							display: block;
						}
					}
				}
			}
		}
		.recipe {
			border-bottom: 1px dotted $colorZ5;
			>[class^="col-"] {
				padding: 4px 0;
				.img-select-btn {
					width: 100%;
					// max-width: 150px;
					input[type*='file'] {
						width: 100%;
					}
				}
				>.row {
					margin: 0;
					padding:0;
					[class^="col-"] {
						padding: 2px 4px;
					}
				}
			}
		}
	}
}
section#addItemstep8 {
	>.row {
		border-bottom: 1px dotted $colorZ5;
		> label.control-label {
			padding-top: 12px;
		}
		&:nth-child(2) {
			span.input-group-btn {
				.btn {
					padding: 4px 10px;
					height: 30px;
					border-color: $colorB6;
					background-color: $colorZ7;
				}
			}
		}
	}
	label.control-label +  [class^="col"] {
		padding-top: 0;
	}
	.tag {
		display: inline-block;
		background-color: $colorZ7;
		padding: 6px 8px;
		margin: 3px 1px;
		font-size: .85em;
		border-radius: 4px;
	}
}