@import "config";
@import "compass";
@import "susy";
@import "bourbon/bourbon";
@import "breakpoint";
@import "mixin";
@import "table";
@import "extend";


#six-container {

// --------------------------------------買家頁面
	&.buyer {
		// -------------------主頁
		&.main {

		}
		// -------------------商品詳細頁
		&.item {

		}
	}



// --------------------------------------賣家頁面
	&.seller {
		// -------------------新增商品
		&.additem {
			>.container-fluid {
				max-width: 1170px;
				padding-top: 15px;
				.panel-group {
					.panel {
						border-radius: 0;
						box-shadow: none;
						.panel-heading {
							padding: 0;
							background-color: transparent;;
							border-bottom: 1px dashed $colorZ6;
							.panel-title {
								font-size: 1.5em;
								font-weight: 100;
								>a {
									display: block;
									width: 100%;
									line-height: 35px;
									text-decoration: none;
									padding: 5px 0;
									@media (max-width:790px) {
										text-align: center;
									}
								}
							}
						}
					}
				}
			}
		}
	}


}


