@import "config";
@import "compass";
@import "susy";
@import "bourbon/bourbon";
@import "breakpoint";
@import "mixin";
@import "table";
@import "extend";


#six-container {

// --------------------------------------買家頁面
	&.buyer {
		// -------------------主頁
		&.main {

		}
		// -------------------商品資訊
		&.item {

		}
		// -------------------購物車
		&.cart {
			>.container-fluid {
				background-color: $colorZ8;
			}
			section#beforeLook {
				max-width: 990px;
			}
		}
		// -------------------完成購買
		&.order-complete {
			>.container-fluid {
				background-color: $colorZ8;
			}
		}
		&.order-search {
		}
		&.message {
			>.container-fluid {
				background-color: $colorZ8;
				min-height: 600px;
				height: 100%;
			}
		}
	}



// --------------------------------------賣家頁面
	&.seller {
		input[type='text'] ,
		select.form-control ,
		textarea.form-control {
			border-color: $colorB6;
		}
		// -------------------小農登入
		&.login {
			>.container-fluid {
				max-width: 760px;
				padding-top: 15px;
			}
		}
		// -------------------我的商品
		&.myitems {
			>.container-fluid {
				max-width: 1170px;
				padding-top: 15px;
			}
		}
		// -------------------新增商品
		&.additem {
			>.container-fluid {
				max-width: 1170px;
				padding-top: 15px;
				.panel-group {
					.panel {
						border-radius: 0;
						box-shadow: none;
						.panel-heading {
							padding: 0;
							background-color: transparent;;
							border-bottom: 1px dashed $colorZ6;
							.panel-title {
								font-size: 1.5em;
								font-weight: 100;
								>a {
									display: block;
									width: 100%;
									line-height: 35px;
									text-decoration: none;
									padding: 5px;
								}
							}
						}
						.panel-body {
							@media (max-width:768px) {
								padding:0;
							}
						}
					}
				}
			}
		}
		&.editdiscountportfolio {
			>.container-fluid {
				max-width: 1170px;
				padding-top: 15px;
				.panel-group {
					.panel {
						border-radius: 0;
						box-shadow: none;
						.panel-heading {
							padding: 0;
							background-color: transparent;;
							border-bottom: 1px dashed $colorZ6;
							.panel-title {
								font-size: 1.5em;
								font-weight: 100;
								>a {
									display: block;
									width: 100%;
									line-height: 35px;
									text-decoration: none;
									padding: 5px;
								}
							}
						}
						.panel-body {
							@media (max-width:768px) {
								padding:0;
							}
						}
					}
				}
			}
		}
		&.message {
			>.container-fluid {
				background-color: $colorZ8;
				height: 100%;
			}
		}
		&.tag {
			>.container-fluid {
				background-color: $colorZ8;
				height: 100%;
			}
		}
	}
}
