$allTextColor: #4d4d4d;
$allTextHover: #69b56b;
$fontType1: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
$imgPath: '../images/';
$bg: 'background.jpg';

$span:100/12;

$Phone_s: max-width 320px;
$Phone: max-width 768px;
$pad: 768px 991px;
$desktop: min-width 1025px;
$Phone2: max-width 990px;


$bgColor1: #56b28d;
$panelColor: #fff;
$panelHeadBg: #69b56b;
$panelHeadText: #fff;
$line1: #ccc;
$itemColorA: #fff;
$titleColor: #999;

$headSize: 80px;
$footerSize: 40px;
$gotop_size:40px;


$color_red: #ca294d;

$colorA1: #21513e;
$colorA2: #84bb00;
$colorA3: #4ea580;
$colorA4: #efaf00;
$colorA5: #febe0e;
$colorA6: #ffce49;
$colorA7: #ffd971;
$colorA8: #ffe59c;
$colorA9: #faf0d4;

$colorB1: #0b485b;
$colorB2: #005670;
$colorB3: #096784;
$colorB4: #13728F;
$colorB5: #0085ae;
$colorB6: #29a8cf;
$colorB7: #44b9dd;
$colorB8: #69c9e6;
$colorB9: #95daef;

$colorC0: #000000;
$colorC1: #111111;
$colorC2: #222222;
$colorC3: #333333;
$colorC4: #444444;
$colorC5: #555555;
$colorC6: #666666;
$colorC7: #777777;
$colorC8: #888888;
$colorC9: #999999;
$colorCa: #aaaaaa;
$colorCb: #bbbbbb;
$colorCc: #cccccc;
$colorCd: #dddddd;
$colorCe: #eeeeee;
$colorCf: #ffffff;
$white:#ffffff;
$black:#000000;

//左側菜單顏色
$colorD0:#eb6d19;
$colorD7:#FF9800;
$colorD1:#775b0f;
$colorD2:#a68b63;
$colorD3:#b8a07e;
$colorD4:#ccb89b;
$colorD5:#e0d2bf;
$colorD6:#ece3d5;

$colorD8:#bba383;

$colorE0: #f3f8e6;
$colorE1: #e0eebf;
$colorE2: #c8e08c;
$colorE3: #a9d04d;
$colorE4: #84bb00;
$colorE5: #64a200;
$colorE6: #4c8c00;
$colorE7: #397900;
$colorE8: #2b6900;
$colorE9: #205b00;

$colorF0: #b9d51f;
$colorF1: #b9d51f;
$colorF2: #b9d51f;
$colorF3: #b9d51f;
$colorF4: #b9d51f;
$colorF5: #b9d51f;
$colorF6: #b9d51f;
$colorF7: #b9d51f;
$colorF8: #b9d51f;
$colorF9: #b9d51f;

$colorZ0: #000000;
$colorZ1: #303030;
$colorZ2: #474747;
$colorZ3: #999999;
$colorZ4: #aaaaaa;
$colorZ5: #bbbbbb;
$colorZ6: #cccccc;
$colorZ7: #dddddd;
$colorZ8: #eeeeee;
$colorZ9: #ffffff;