@import "config";
@import "compass";
@import "susy";
@import "bourbon/bourbon";
@import "breakpoint";
@import "mixin";

footer#six-footer {
  bottom: 0;
  width: 100%;
  padding: 0;
  z-index: 1;
  align-items:flex-end;
  height: $footerSize;
  box-shadow: 0 0px 40px rgba($colorC0, 0.2);
  background-color: $colorA5;
  .six-copyright {
    // border-top: 1px solid rgba($colorCf, .2);
    text-align: center;
    line-height: $footerSize;
    letter-spacing: .1em;
    font-size: .85em;
  }
  &.buyer {
    background-color: $colorA5;
  }
  &.seller {
    background-color: $colorB4;
    .six-copyright {
      color: $colorZ9;
    }
  }
}
