@import "config";
@charset "UTF-8";

.form-horizontal {
  .form-group {
    margin-left: 0;
    margin-right: 0;
  }
}
.form-inline {
  display: table;
  width: 100%;
  @media (max-width: 768px){
    display: inline-block;
  }
  .six-form-date {
    display: inline-block;
    margin-bottom: 10px;
  }
  label {
    &[class^="col-"]{
      padding-right: 5px;
    }
    &.radio-inline {
      padding-left: 20px !important;
    }
    &.checkbox-inline {
      padding-left: 20px !important;
    }
  }
  label + [class^="col-"] {
    padding-left: 5px;
    @media (max-width: 768px){
      padding-left: 0;
      padding-right: 0;
    }
  }
  .well {
    margin-bottom: 0;
    padding: 5px;
    display: table;
    background-color: rgba($colorCf,.5);
    border-radius: 8px;
    [class^="col-"] {
      // border: 1px solid #f00;
    }
  }
}

.checkbox {
  padding-top: 0 !important;
  padding-left: 5px;
  padding-right: 5px;
  @media(max-width: 768px) {
    display: inline-block;
  }
  label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      top: 5px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: $colorCf; 
      -webkit-transition: border 0.15s ease-in-out,
      color 0.15s ease-in-out; 
      -o-transition: border 0.15s ease-in-out,
      color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out,
      color 0.15s ease-in-out;
    }
    &::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 0;
      font-size: 11px;
      color: #555555;
    }
    @media(max-width: 768px) {
      padding-left: 15px !important;
      &::before {
        left: 15px;
      }
      &::after {
        left: 15px;
      }
    }
  }
  input[type="checkbox"] {
    opacity: 0;
    &:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
    &:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c";
    }
    &:disabled + label {
      opacity: 0.65;
    }
    &:disabled + label::before {
      background-color: #eeeeee;
      cursor: not-allowed;
    }
  }
  &.checkbox-circle label::before {
      border-radius: 50% ;
  }
  &.checkbox-inline {
      margin-top: 0;
  }

  &.primary {
    input[type="checkbox"]:checked + label {
      &::before {
        background-color: $colorA3;
        border-color: $colorA3;
      }
      &::after {
        color: $colorCf;
      }
    }
  }
  &.success {
    input[type="checkbox"]:checked + label {
      &::before {
        background-color: $colorB3;
        border-color: $colorB3;
      }
      &::after {
        color: $colorCf;
      }
    }
  }
  &.info {
    input[type="checkbox"]:checked + label {
      &::before {
        background-color: $colorC3;
        border-color: $colorC3;
      }
      &::after {
        color: $colorCf;
      }
    }
  }
  &.danger {
    input[type="checkbox"]:checked + label {
      &::before {
        background-color: #d9534f;
        border-color: #d9534f;
      }
      &::after {
        color: $colorCf;
      }
    }
  }
  &.warning {
    input[type="checkbox"]:checked + label {
      &::before {
        background-color: #f0ad4e;
        border-color: #f0ad4e;
      }
      &::after {
        color: $colorCf;
      }
    }
  }
}

.radio {
  padding-top: 0 !important;
  padding-left: 5px;
  padding-right: 5px;
  @media(max-width: 768px) {
    display: inline-block;
  }
  label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      top: 5px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50% ;
      background-color: $colorCf;
      -webkit-transition: border 0.15s ease-in -out;
      -o-transition: border 0.15s ease-in -out;
      transition: border 0.15s ease-in-out;
    }
    &::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 8px;
      margin-left: -20px;
      border-radius: 50% ;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); 
    }
    @media(max-width: 768px) {
      padding-left: 15px !important;
      &::before {
        left: 15px;
      }
      &::after {
        left: 18px;
      }
    }
  }
  input[type="radio"] {
    opacity: 0;
    &:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
    &:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    &:disabled + label {
      opacity: 0.65;
      &::before {
        cursor: not-allowed;
      }
    }
  }
  &.radio-inline {
    margin-top: 0;
  }

  &.primary input[type="radio"]{
    &+ label::after {
      background-color: $colorA3;
    }
    &:checked + label::before {
      border-color: $colorA3;
    }
    &:checked + label::after {
      border-color: $colorA3;
    }
  }
  &.success input[type="radio"]{
    &+ label::after {
      background-color: $colorB3;
    }
    &:checked + label::before {
      border-color: $colorB3;
    }
    &:checked + label::after {
      border-color: $colorB3;
    }
  }
  &.info input[type="radio"]{
    &+ label::after {
      background-color: $colorC3;
    }
    &:checked + label::before {
      border-color: $colorC3;
    }
    &:checked + label::after {
      border-color: $colorC3;
    }
  }
  &.warning input[type="radio"]{
    &+ label::after {
      background-color: $colorD3;
    }
    &:checked + label::before {
      border-color: $colorD3;
    }
    &:checked + label::after {
      border-color: $colorD3;
    }
  }
  &.danger input[type="radio"]{
    &+ label::after {
      background-color: #d9534f;
    }
    &:checked + label::before {
      border-color: #d9534f;
    }
    &:checked + label::after {
      border-color: #d9534f;
    }
  }
}

//topline & bottomline
.form-group.topline {
  padding-top: 4px;
  border-top: 1px dashed $colorA4;
}
.form-group.bottomline {
  padding-bottom: 4px;
  border-bottom: 1px dashed $colorA4;
}
form.bottomline {
  >.row {
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px dashed $colorA4;
    &:last-child {
      border-bottom: 0;
    }
  }
}

.form-group {
  margin-bottom: 3px;
  input {
    width: 0 !important;
    min-width: 100px;
  }
  input[type="checkbox"],
  input[type="radio"] {
    width: auto !important;
    min-width: auto !important;
    // margin-top: 7px;
  }
  &.inblock {
    display: block;
    width: 100% !important;
  }
}
.control-label {
  padding-top: 5px;
  padding-left: 0;
  margin-bottom: 0;
  text-align: right;
  i {
    color: $colorA3;
    padding-right: 5px;
  }
}
.form-control-static {
  padding: 1px 5px 0 2px;
}
// 固定字數
.form-control {
  background-color: $colorCe;
  border: 1px solid $colorA5;
  &.words-2 {
    width: 41px !important;
    min-width: 40px;
  }
  &.words-4 {
    width: 56px !important;
    min-width: 40px;
  }
  &.words-6 {
    width: 73px !important;
    min-width: 40px;
  }
  &.words-8 {
    width: 88px !important;
    min-width: 40px;
  }
  &.words-10 {
    width: 104px !important;
    min-width: 40px;
  }
  &.words-12 {
    width: 120px !important;
    min-width: 40px;
  }
  &.words-14 {
    width: 136px !important;
    min-width: 40px;
  }
  &.words-16 {
    width: 152px !important;
    min-width: 40px;
  }
  &.words-18 {
    width: 168px !important;
    min-width: 40px;
  }
  &.words-20 {
    width: 184px !important;
    min-width: 40px;
  }
  //
  &.inblock {
    display: block;
    width: 100% !important;
  }
  &.inLine {
    display: inline-block;
    width: auto !important;
  }
}
.input-group {
  input {
    display: inline-block;
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 0;
    }
  }
  &.date {
    span.input-group-addon {
      background-color: $colorA3;
      color: $colorCf;
      border-color: $colorA3;
    }
    @media (max-width: 768px){
      display: inline-block;
      .input-group-addon {
        padding: 9px 15px;
        width: initial;
      }
    }
  }
  @media (min-width: 768px){
    &.input-flex {
      display: flex;
      input {
        margin-right: 0;
      }
    }
  }
}
.input-group-addon {
  background-color: $colorCe;
  border: 1px solid $colorA5;
  border-right: 0;
  &.primary {
    color: $colorCf;
    background-color: $colorA3;
    border-color: $colorA2;
  }
  &.success {
    color: $colorCf;
    background-color: $colorB2;
    border-color: $colorB3;
  }
  &.info {
    color: $colorCf;
    background-color: $colorC2;
    border-color: $colorC3;
  }
  &.warning {
    color: $colorCf;
    background-color: $colorD2;
    border-color: $colorD3;
  }
}
.input-flex {
  display: flex;
  flex-direction: row;
  flex-wap: nowrap;
  input {
    margin-right: 3px;
    width: auto !important;
    min-width: 40px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.panel-tool {
  .form-control {
    border-color: $colorA4;
  }
}

.six-form-title-input {
  &.primary {
    .input-group {
      width: 100%;
      .input-group-addon {
        color: $colorCf;
        background-color: $colorA3;
        border:1px solid $colorA3;
      }
      .form-control {
        background-color: #eeeeee;
        border: 1px solid #4ea580;
      }
    }
  }
}
.six-form-title-select {
  .input-group {
    width: 100%;
    .bootstrap-select > .dropdown-toggle {
      border-radius: 0;
    }
    .bootstrap-select:last-of-type > .dropdown-toggle {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    @media (max-width: 490px){
      &.time3 {
        display:flex;
        & > div {
          display: flex ;
          align-items: center ;
          width:33.33% !important;
        }
      }
    }
    @media (min-width: 490px){
      &.time3 {
        div.input-group-addon {
          width:140px !important;
        }
      }      
    }
  }
  &.primary {
    .input-group {
      .input-group-addon {
        color: $colorCf;
        background-color: $colorA3;
        border:1px solid $colorA3;
      }
      .bootstrap-select > .dropdown-toggle {
        background-color: $colorCe;
        border:1px solid $colorA3;
      }
    }
  }
  @media (min-width: 768px){
    &.form-inline .input-group .input-group-addon {
      width: 1%;
    }
    &.form-inline .bootstrap-select.btn-group {
      width: auto;
    }
  }
}

td.control-label {
  background-color: $colorA6;
  font-weight: bold;
}
