@import "config";
@import "mixin";

header#six-header {
  position: fixed;
  width: 100%;
  height: $headSize;
  min-height: $headSize;
  border: 0;
  margin-bottom: 0;
  z-index: 10;
  background-color: $colorA5;
  border-radius: 0;
  #six-head {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    line-height: $headSize;
    .navbar-brand {
      position: absolute;
      top: 0;
      left: 0;
      height: $headSize;
      display: inline-block;
      padding: 10px;
      >a {
        height: 100%;
        display: inline-block;
      }
      img {
        height: 100%;
      }
      @media (max-width: 768px) {
        left: 50%;
        padding: 15px;
        margin-left: -100px;
      }
    }
    .headTitle {
      color: $colorZ9;
      text-align: center;
      font-size: 1.5em;
      letter-spacing: .15em;
      line-height: $headSize;
      >* {
        font-weight: 100;
      }
      @media (max-width:330px) {
        text-align: left;
        padding-left: 90px;
      }
      &.logo {
        line-height: 0;
        >* {
          display: none;
        }
        &:before {
          content: url('../images/logo.png');
          display: inline-block;
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          padding-top: 5px;
          text-align: center;
        }
      }
    }
    section.searchbar {
      margin: 0;
      padding: 0;
      display: block;
      width: 100%;
      padding: 0 250px;
      margin-top: 12px;
      .input-group {
        span.input-group-btn {
          line-height: 0;
        }
      }
    }

    #menu-toggle {
      position: absolute;
      top: 5px;
      right: 5px;
      border-radius: 0;
      padding:0;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      background-color: transparent;
      &:before {
        content: '\f0c9';
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        line-height: 50px;
        text-align: center;
        color: $colorZ9;
        font-size: 1.5rem;
      }
      &:hover {
        background-color: rgba($colorZ9, .2);
      }
      &:active {
        background-color: rgba($colorZ0, .05);
      }
      &.back:before {
        content: '\f104';
      }
      @media (max-width:768px) {
        right: auto;
        top: 0;
        left: 0;
        width: 55px;
        height: 60px;
        border-radius: 0;
        &:hover {
          background-color: transparent;
        }
        &:active {
          background-color: transparent;
        }
      }
    }

    #menu-back {
      display: none;
      @media (max-width:768px) {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0;
        padding:0;
        width: 55px;
        height: 60px;
        border-radius: 0;
        background-color: transparent;
        &:before {
          content: '\f053';
          display: inline-block;
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          line-height: 50px;
          text-align: center;
          color: $colorZ9;
          font-size: 1.5rem;
        }
      }
    }

    ul.six-topNvbar {
      position: absolute;
      top: 10px;
      right: 60px;
      padding: 0;
      line-height: 40px;
      @media (max-width:768px) {
        right: 5px;
      }
      >li {
        display: inline-block;
        float: left;
        margin-right: 15px;
        @media (max-width:768px) {
          margin-right: 7px;
        }
        button {
          position: relative;
          border-radius: 0;
          padding:0;
          width: 40px;
          height: 40px;
          border-radius: 20px;
          background-color: rgba($colorZ0, .05);
          @media (max-width:768px) {
            background-color: transparent;
          }
          text-align: center;
          &:before {
            display: inline-block;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            line-height: 40px;
            color: $colorZ9;
            font-size: 1.3rem;
          }
          &:hover {
            background-color: rgba($colorZ9, .2);
          }
          &:active {
            background-color: rgba($colorZ0, .1);
            @media (max-width:768px) {
              background-color: transparent;
            }
          }
          .badge {
            position: absolute;
            right: -20%;
            background-color: #d00;
          }
          &.bell:before {
            content: '\f0a2';
          }
          &.heart:before {
            content: '\f004';
          }
          &.cart:before {
            content: '\f07a';
          }
          &.plus:before {
            content: '\f196';
          }
          &.trash:before {
            content: '\f014';
          }
        }
      }
    }

  }

  #sidebar-wrapper {
    position: fixed;
    margin-right: -210px;
    top: $headSize;
    right: 0;
    height: 100%;
    width: 200px;
    padding: 10px;
    background: rgba(255,255,255,1);
    box-shadow: 0 5px 20px rgba($colorZ0, .3);
    overflow-y: auto;
    z-index: 1000;
    color: $colorZ2;
    text-align: center;
    line-height: 1em;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
    @media(max-width: 768px) {
      margin-right: auto;
      right: auto;
      margin-left: -210px;
      left: 0;
      overflow-y: auto;
      padding-bottom: 65px;
    }
    // @media(max-height: 569px) {
    //   overflow-y: auto;
    //   padding-bottom: 65px;
    // }
    >.inner {
      &:after {
        content:"";
        display: block;
        width: 100%;
        height: 0;
        clear: both;
      }
    }
    figure.six-avatar {
      width: 120px;
      height: 120px;
      display: inline-block;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        border-color: transparent;
      }
    }
    .six-userName {
      text-align: center;
      width: 100%;
      text-transform:none;
      display: flex;
      flex-direction: row;
      border-bottom: 1px dashed rgba($colorZ3, .5);
      >a:first-child {
        padding:0;
        flex:1;
        color: $colorZ2;
        height: 40px;
        line-height: 40px;
        &:hover {
          text-decoration: none;
          color: $colorZ3;
        }
      }
      a.btn {
        border-radius: 4px;
        height: 38px;
        width: 40px;
        line-height: 38px;
        padding: 0;
        background-color: $colorA5 !important;
        border: 0;
        &:hover {
          background-color: $colorA5;
        }
      }
    }
    .six-userNvbar {
      ul.navbar-nav {
        margin: 0;
        margin-top: 8px;
        li {
          display: block;
          width: 100%;
          text-align: center;
          padding-bottom: 1px;
          a {
            padding: 7px 0;
            display: block;
            color: $colorZ2;
            border-radius: 3px;
            text-decoration: none;
            &:hover {
              color: $colorZ1;
              background-color: $colorZ8;
            }
            &:active {
              background-color: $colorZ8;
            }
            &:focus {
              background-color: $colorZ8;
            }
          }
          &.conversion {
            margin-top: 8px;
            >a {
              background-color: $colorZ8;
              &:before {
                content: "\f0ec";
                display: inline-block;
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
                color: $colorZ3;
                font-size: 1.1rem;
                margin-right: 5px;
              }
              &:hover , &:active , &:focus {
                background-color: $colorZ7;
              }
            }
          }
        }
      }
    }
    &.active {
      right: 210px;
      width: 200px;
      transition: all 0.5s ease-out 0s;
      -webkit-transition: all 0.5s ease-out 0s;
      -moz-transition: all 0.5s ease-out 0s;
      -ms-transition: all 0.5s ease-out 0s;
      -o-transition: all 0.5s ease-out 0s;
      @media(max-width: 768px) {
        right: auto;
        left: 210px;
      }
    }
    .toggle {
      margin: 5px 5px 0 0;
    }
  }

  &.buyer {
    .headTitle {
      color: $colorZ1 !important;
    }
    &.main {
      // @media(max-width: 768px) {
      //   height: 90px;
      //   min-height: 90px;
      // }
    }
    &.item {
      // .navbar-brand {
      //   @media(max-width: 768px) {
      //     display: none !important;
      //   }
      // }
      form.navbar-form {
        display: none !important;
      }
    }
  }


  &.seller {
    background-color: $colorB4;
    #sidebar-wrapper {
      .six-userName {
        .btn-primary {
          color: #fff;
          background-color: $colorB5 !important;
          border-color: transparent;
          &:hover {
            color: #fff;
            background-color: $colorB4 !important;
            border-color: transparent;
          }
          &:active {
            color: #fff;
            background-color: $colorB4 !important;
            border-color: transparent;
          }
          &:focus {
            color: #fff;
            background-color: $colorB4 !important;
            border-color: transparent;
          }
        }
      }
    }
    &.login {
      // ul.six-topNvbar {
      //   >li {
      //     display: none;
      //     &:last-child {
      //       display: inline-block;
      //     }
      //   }
      // }
    }
    &.additem {
      .navbar-brand {
        @media(max-width: 768px) {
          display: none !important;
        }
      }
    }
    &.myitems {
      .navbar-brand {
        @media(max-width: 768px) {
          display: none !important;
        }
      }
    }
  }
}





