@import "config";
@import "compass";
@import "susy";
@import "bourbon/bourbon";
@import "breakpoint";
@import "mixin";


.heading {
	position: relative;
	text-align: center;
	.title-demarcation {
		display: inline-block;
		font-weight: bold;
		@include text-gradient(rgba(122,122,122,1), rgba(79,77,61,1) , top);
	}
  span {
    font-size: 1.3em;
    letter-spacing: .1em;
  }
}
@media screen and (min-width:0\0) {
  .heading h2.title-demarcation {
    background:transparent;
  }
}
.title-demarcation {
  width:100%;
  position:relative;
  text-align:center;
  &:before {
    content:"";
    display:block;
    border-top:solid 1px $colorCb;
    width:calc( 50% - 2.4em );
    top:0.5em;
    position:absolute;
  }
  &:after {
    content:"";
    display:block;
    border-top:solid 1px $colorCb;
    width:calc( 50% - 2.4em );
    right:0;
    top:0.5em;
    position:absolute;
  }
}

.six-whiteBg {
  background-color: rgba(255,255,255,.90);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.175);
}
.no-padding {
  padding: 0 !important;
}
ul.newsType1 {
  li {
    .icon {
      display: inline-block;
      float: left;
      padding-right: 6px;
    }
    .location {
      display: inline-block;
      float: left;
      background-color: $colorD3;
      border-radius: 4px;
      padding: 3px 6px;
      color: $colorCf;
    }
    .date {
      display: inline-block;
      margin-left: 5px;
      float:left;

      &:before {
        content: "\f017";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        padding-right: 4px;
        color: $colorD3;
      }
    }
    .live-icon {
      display:none;
      height:20px;
      clear:both;
      margin-left:10px;
    }
    .list-group-item-text {
      margin-top: 5px;
      padding: 5px;
      min-height: 3em;
      clear: both;
    }
  }
}

ul.newsType2 {
  margin-bottom: 0;
  li {
    >a.list-group-item {
      border:0;
      border-radius: 0;
      border-bottom: 1px dashed $colorB4;
      display: flex;
      flex-direction:row;
      .label {
        margin-left: 4px;
        display: inline-block;
        background-color: $colorB2;
        border-radius: 3px;
        padding: 4px 8px;
        font-weight: normal;
      }
      .date {
        border-right: 1px solid $colorB4;
        display: inline-block;
        font-size: .95em;
        color: $colorB2;
        padding-right: 5px;
        &:before {
          content: "\f017";
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          padding-right: 4px;
          color: $colorB3;
        }
      }
      >.heading {
        flex:1;
        text-align: left;
        padding-left: 4px;
        display : inline-block;
        overflow : hidden;
        text-overflow : ellipsis;
        white-space : nowrap !important;
      }
    }
    &:last-child {
      >a {
        border-bottom: 0;
      }
    }
    &.more {
      display: block;
      button.btn-more {
        transition: all .3s;
        width:100%;
        border-radius: 0;
        padding: 6px 0;
        border: 0;
        color: $colorB2;
        background-color: $colorB5;
        &:hover {
          color: $colorCf;
          background-color: $colorB3;
        }
      }
    }
  }
}
ul.newsType3 {
  margin-bottom: 0;
  li {
    >a.list-group-item {
      border:0;
      border-radius: 0;
      border-bottom: 1px dashed $colorA4;
      display: flex;
      flex-direction:row;
      .label {
        margin-left: 4px;
        display: inline-block;
        background-color: $colorA2;
        border-radius: 3px;
        padding: 4px 8px;
        font-weight: normal;
      }
      .date {
        border-right: 1px solid $colorA4;
        display: inline-block;
        font-size: .95em;
        color: $colorA2;
        padding-right: 5px;
        &:before {
          content: "\f017";
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          padding-right: 4px;
          color: $colorA3;
        }
      }
      >.heading {
        flex:1;
        text-align: left;
        padding-left: 4px;
        display : inline-block;
        overflow : hidden;
        text-overflow : ellipsis;
        white-space : nowrap !important;
      }
    }
    &:last-child {
      >a {
        border-bottom: 0;
      }
    }
    &.more {
      display: block;
      button.btn-more {
        transition: all .3s;
        width:100%;
        border-radius: 0;
        padding: 6px 0;
        border: 0;
        color: $color_red;
        background-color: lighten($color_red, 35%);
        // @include filter-gradient(lighten($color_red, 35%),$color_red,90);
        &:hover {
          color: $colorCf;
          background-color: lighten($color_red, 20%);
        }
      }
    }
  }
}
.xdsoft_datetimepicker {
  width: 100%;
  padding: 0;
  min-width: 309px;
  border: 1px solid $colorCe;
  &.active {
    width: 100%;
    margin: 0;
  }
  .xdsoft_datepicker {
    width: 100%;
    margin-left: 0;
    float: none;
    .xdsoft_monthpicker {
      button {

      }
      .xsoft_date {
        width: 100%;
        background: $colorD3;
        // * {
        //   border: 1px solid #f00;
        // }
        >.xdsoft_label {
          padding: 13px 0 5px 0;
          span {
            font-size: 1.4em;
            font-weight: normal;
          }
        }
        >.xdsoft_label.xdsoft_month,
        .xdsoft_label.xdsoft_year {
          background: transparent;
          color: white;
          font-weight: bold;
          float: inherit;
          display: inline-block;
          width: auto;
        }
        .xdsoft_label.xdsoft_month {
          span {
            font-family: "微軟正黑體", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
          }
          .xdsoft_select.xdsoft_monthselect.xdsoft_scroller_box {
            >div {
              .xdsoft_option {
                &.xdsoft_current {
                  
                }
              }
            }
            .xdsoft_scrollbar {

            }
          }
        }
      }
    }
    .xdsoft_calendar {
      table {
        width: 100%;
        th ,
        td {
          border: 0;
        }
        thead {
          >tr {
            th {
              background: $colorD3;
              color: $colorCf;
            }
          }
        }
        tbody {
          >tr {
            td {
              padding: 1em;
              height: auto;
              background: $colorCe;
              position:relative;
              a {
                display:block;
                padding-right: 0;
                text-align: center;
                text-decoration:none;
                font-size:1.15em;
                &.isme:before {
                  position:absolute;
                  content:"";
                  background-color:#FF5722;
                  width:10px;
                  height:10px;
                  top:50%;
                  left:5%;
                  margin-top:-6px;
                  border-radius:10px;
                  border:solid 2px $colorCf;
                }
              }
              div {
                padding-right: 0;
                text-align: center;
              }
              &.xdsoft_current {
                background: #eb6d19;
                box-shadow: #eb6d19 0 1px 3px 0 inset;
                border-radius: 5px;
                a {
                  color:$colorCf;
                }
              }
              &:hover {
                border-radius: 5px;
              }
              &.xdsoft_highlighted_default {
                opacity: 1;
                box-shadow:none;
                a:before {
                  position:absolute;
                  content:"";
                  background-color:rgba(#d00,.5);
                  // width: 50%;
                  // margin: 20%;
                  width:1em;
                  height: 2px;
                  bottom: 15%;
                  // left: 25%;
                  left: calc(50% - 0.5em);
                  margin-top: -6px;

                }
              }
            }
          }
        }
      }
    }
  }
  .xdsoft_select {
    color: black;
  }
}

article.content {
  h4.title {
    background-color: $colorD3;
    color: $colorCf;
    font-size: 1.15em;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    @include center(center,center);
  }
}

.btn-add {
  background-color: $colorD3;
  color: $colorCf;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  text-align: center;
  padding: 0;
  padding-top: 3px;
  margin: 0 4px;
  &:hover {
    color: $colorCf;
    background-color: $colorD1;
  }
}


/* select.selectpicker {
  position:absolute;
  z-index:1;
  width:100%;
  height:3.5em;
  text-indent: 20px;

  color:$colorCf;
  border: none;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
  background-color: $colorD0;
  option {
    position:absolute;
    background-color:$colorCf;
    color:$colorC5;
    // height:3.5em;
    // padding: 1em;
  }
} */
/* select.selectpicker {
  position:absolute;
  z-index:1;
  width:100%;
  // height:3.5em;
  padding:1em 0;
  text-indent: 20px;  
  border: solid 1px #000;

  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  padding-right: 14px;

  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;

}

select::-ms-expand { display: none; } */

// 表單使用說明
// 每串表單組合都要用.six-form-title-select或.six-form-title-input包起來
// 如要顏色設定在後面加上.primary
// 如果內容不要填滿.six-form-title-**後面加上.form-inline
// input-group-addon是表單抬頭,如果要固定寬就直接設定數值
// 注意,使用select物件 需載入bootstrap-select.js 套件
// 範例：
// input模式
// .six-form-title-input.primary.form-inline
//   label.sr-only(for='name') 姓名搜尋
//   .input-group
//     .input-group-addon 姓名搜尋
//     input#name.form-control(type='name', placeholder='')
// select模式
// .six-form-title-select.primary
//   .input-group
//     .input-group-addon 屆別選區分類
//     select#constituency1.selectpicker.form-inline
//       option(value='1') 請選擇屆別
//     select#constituency2.selectpicker
//       option(value='0') 請選擇屆別
//       option(value='1') 1




/*Tabs*/
.six-tabs {
  .nav-tabs {
    border-color: $colorA1;
    >li {
      border-bottom: 1px solid $colorA1;
      >a {
        background-color: $colorB4;
        color: $colorA2;
        &:hover {
          background-color: $colorB3;
          color: $colorA1;
        }
      }
      &.active {
        >a {
          border-color: transparent;
          background: $colorA2;
          color: $colorC9;
          &:focus {
            border-color: transparent;
            background: $colorA2;
            color: $colorC9;
          }
          &:hover {
            border-color: transparent;
            background-color: $colorA3;
            color: $colorC9;
          }
        }
      }
    }
  }
  &.button {
    .nav-tabs {
      > li {
        border: 0;
      }
    }
  }
}

.six-tabs .nav-tabs > li.active > a:hover {
    border-color: transparent;
    background-color: #26bcb7;
    color: $colorC9;
}



// 政黨標誌
.six-party-icon {
  display: block;
  float: left;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border:1px solid $colorCc;
}


#six-legislatorListBox {
  width:100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;  
  .content > .col-xs-4.col-sm-3.col-md-3.col-lg-15 {
    // background-color:$colorCe;
    margin-bottom:20px;
  }
}


.six-legislatorAvatar {
  height:100%;
  margin-bottom:0px;
  border-radius: 0;
  padding: 4px;
  border-width: 1px;
  background-color: $colorCe;
  border-color: $colorCe;
  &:hover {
    background-color: $colorCf;
    border-width: 1px;
    border-color: $colorCd;
  }
  .inner {
    // background-color:#ddd;
    background-color:$colorCe;
    height:100%;
    a {
      display: block;
      text-align: center;
      figure.six-avatar {
        height: 0;
        padding-bottom: 130%;
        background-size: cover;
      }
      .caption {
        padding:10px 5px 6px 5px; 
        .legislatorname {
          display: inline-block;
          .six-party-icon {
          }
        }
      }
    }
    .legislatorname {
      text-align:center;
    }
  }
}



.seemore {
  display:none;
  z-index:1;
  position:absolute;
  width:102%;
  height:100%;
  bottom:-2px;
  left:0px;
  margin-left:-1%;
  background-color:#fcfcfc;
  border:solid 1px $colorCf;
  box-shadow: 0 -5px 5px rgba($colorC0, .3);
  overflow-y:auto;
  > div {
    padding:10px 0px;
    width:100%;
    border-bottom:solid 1px #ddd;
    overflow-x:hidden;
    &+div {
      border-top:solid 1px #fff;
    }
    h4 {
      display:block;
      width:100%;
      margin:0;
      padding: 6px;
      color:$colorD0;
      background-color:rgba($colorD0,.1);
      font-size:1em;
      border-top-right-radius:10px;
      border-bottom-right-radius:10px;
    }
    p {
      margin:0;
      padding: 10px 10px 0px 10px;
      color:#555;
      font-size:.9em;
    }
    > div {
      padding:10px 0;
      width:100%;
      b {
        position:relative;
        width:98%;
        display: inline-block;
        padding:12px 12px 8px 12px;
        border-radius:4px;
        margin:4px;
        font-size:.9em;
        text-indent: 2em;
        background-color:$colorCe;
        &:nth-child(1){
          background-color:$colorD7;
          color:$colorCf;
          &:before{
           position:absolute;
           content:"";
            display:block;
            width:30px;
            height:30px;
            top:3px;
            left:5px;
            background-image:url('../images/icon-microphone.svg');
            color:#fff;
          }
        }
      }
    }
  }

  .saying {
    background-color:#03A9F4;
    color:#fff;
  }
  .sayover {
    background-color:#FFEB3B;
    color:#777;
  }
  .nohere {
    background-color:#bbb;
    color:#777;
  }
}
.clo_btn {
  display:none;
  z-index:2;
  position:absolute;
  height:26px;
  width:30px;
  top:2px;
  right:0px;
  margin-right:-1%;
  // background-color:#f44336;
  background-color:$colorCf;
  font-size:.85em;
  text-align:center;
  line-height:26px;
  // color:$colorCf;
  color:$colorC5;
  border-bottom-left-radius:10px;
  border-left:solid 1px $colorCc;
  border-bottom:solid 1px $colorCc;
  cursor: pointer;
  // box-shadow: -1px 1px 1px rgba($colorC0, .3);
}
.six-date {
  &:before {
    content:'\f017';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-right: 4px;
  }
}

// 頁面抬頭裝飾圖示
.symbol {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 140px;
  display: block;
  &.searchfile {
    background-image:url('../images/symbol/symbol-searchfile.png');
  }
}

.six-heading {
  position: relative;
  // @extend %title_bg;
  background-image:url("../images/symbol/symbol-news.svg");
  background-size:5em;
  background-position: 1em 0.8em;
  padding: 2px;
  @media(max-width: 490px){
    & {
      background-image:none;
    }
  }
  >a.btn {
    position: absolute;
    top: 3px;
    left: 3px;
    background-color: $colorA4;
    @include filter-gradient($colorA5,$colorA4,top);
    color: $colorCf;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    padding-top: 10px;
    text-align: center;
    >i.fa {
      margin-top: 3px;
      font-size: 1.3em;
    }
    i.fa + span {
      margin-top: -3px;
      margin-left: 4px;
    }
  }
  a.btn + h3.title {
    margin-left: 50px;
  }
  h3.title {
    font-size: 1.2em;
    line-height:1.5em;
    // background-color: $colorA2;
    display: inline-block;
    padding: 0.4em .5em;
    color: $colorA1;
    position: relative;
    z-index: 1;     
  }
  &.icon-news {
    background-image:url("../images/symbol/symbol-news.svg");
    background-position: 100% .3em;
  }
  &.icon-news2 {
    background-image:url("../images/symbol/symbol-news2.svg");
    background-position: 100% .3em;
  }
  &.icon-chat {
    background-image:url("../images/symbol/symbol-chat.svg");
    background-position: 100% .3em;
  }
  &.icon-ly-building {
    background-image:url("../images/symbol/symbol-ly.svg");
    background-position: 100% .3em;
    background-size: 110px;
  }
  &.icon-search-file {
    background-image:url("../images/symbol/symbol-searchfile.svg");
    background-position: 100% .3em;
  }
}

/*--------------for--ie9-----------------*/
@media screen and (min-width:0) and (min-resolution: .001dpcm) { 
ul.newsType2,ul.newsType3 {
  width:100% \9;
  li {
    margin:0 \9;
    width:100% \9;
    display:inline-block \9;
    white-space: nowrap \9;
    overflow-x:hidden \9;
    float:left \9;
    background-color:#ffffff \9;

    a {
      white-space: nowrap \9;
      width:100% \9;
      display:inline-block \9 !important;
      margin:0 \9;
      overflow-x:hidden \9;
      &:after {
        content:" ";
        display:block \9;
        position:absolute \9;
        right:0 \9;
        width:1em \9;
        height:100% \9;
        top:0 \9;
        background-color:#ffffff ;
        box-shadow: -2px 0px 6px -3px rgba(0, 0, 0, 0.5) \9;
      }      
      div.heading {
        top:0.28em \9;

      }
    }
  }
}
}
/*------------//--for--ie9-----------------*/