@import "config";
@import "compass";
@import "susy";
@import "bourbon/bourbon";
@import "breakpoint";
@import "mixin";


.heading {
	position: relative;
	text-align: center;
	.title-demarcation {
		display: inline-block;
		font-weight: bold;
		@include text-gradient(rgba(122,122,122,1), rgba(79,77,61,1) , top);
	}
  span {
    font-size: 1.3em;
    letter-spacing: .1em;
  }
}
@media screen and (min-width:0\0) {
  .heading h2.title-demarcation {
    background:transparent;
  }
}

.no-padding {
  padding: 0 !important;
}


.filter {
  >div {
    font-size: .9em;
    float: left;
    line-height: 29px;
    span {
      padding: 0 4px;
      font-weight: 600;
    }
  }
  .form-group {
    float: right;
    margin-bottom: 0;
    button.btn {
      padding: 3px 10px;
      font-size: .85em;
      border-radius: 3px;
      &:before {
        content: '\f0dc';
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: $colorZ1;
        font-size: 1.1em;
        margin-right: 5px;
      }
    }
  }
  &:after {
    content:"";
    display: block;
    width: 100%;
    height: 0;
    clear: both;
  }
}

.state {
  display: inline-block;
  font-size: .875em;
  background-color: $colorZ7;
  padding: 4px 8px;
  border-radius: 3px;
  color: $colorZ9;
  &.on {
    background-color: #1BBC9C;
  }
  &.off {
    background-color: #0085BA;
  }
  &.rep {
    background-color: #EA1F46;
  }
}