
// *--------------FOOTER---------------*
mixin footer
	.container-fluid
		.six-copyright
			.container
				p 客戶服務專線 0800-080-123


if type==="seller"
	footer#six-footer(class=type)
		+footer
if type==="buyer"
	footer#six-footer(class=type)
		+footer

// *------------//--FOOTER---------------*
