extends ./_model.jade

block append meta
block title
	title GOGO
block append link
	//- link(href='../css/owl.carousel.css', rel='stylesheet')

block prepend scripts
	//- script(src="../js/velocity.min.js")
block append scripts
	//- script(src="../vendors/owl-carousel/owl.carousel.min.js")

block header
	-var type ="seller"
	-var page ="additem"
	-var pagetitle ="新增商品"
	include ./_header.jade

block content
	#six-container(class=type)(class=page)
		.container-fluid
			#accordion.panel-group(role='tablist', aria-multiselectable='true')
				.panel.panel-default
					.panel-heading(role='tab')
						h4.panel-title
							a(role='button', data-toggle='collapse', data-parent='#accordion', href='#step1', aria-expanded='true', aria-controls='step1')
								| 1. 重要資訊
					#step1.panel-collapse.collapse.in(role='tabpanel')
						.panel-body
							section#addItemstep1.formlist
								.row
									label.col-sm-12.control-label
										| 商品名稱
									.col-sm-12
										input.form-control(type='text', aria-label='Amount (to the nearest dollar)')
								.row
									label.col-sm-12.control-label
										| 商品規格
									.col-sm-12.form-group
										.form-control-static 1
										select.form-control.inLine.words-6
											option(selected='selected', value='') 組
											option(value='1') 個
										.form-control-static 內有
										input.form-control.inLine.words-6(type='text')
										select.form-control.inLine.words-6
											option(selected='selected', value='') 組
											option(value='1') 個
								.row
									label.col-sm-12.control-label
										| 商品庫存量
									.col-sm-12.form-group
										input.form-control.inLine.words-8(type='text')
										.form-control-static 組
								.row
									label.col-sm-12.control-label
										| 包裝尺寸
										small 40*40*20公分
									.col-sm-12.form-group.input-flex
										select.form-control
											option(selected='selected', value='') 長度
											option(value='1') 40
										select.form-control
											option(selected='selected', value='') 寬度
											option(value='1') 40
										select.form-control
											option(selected='selected', value='') 高度
											option(value='1') 40
								.row
									label.col-sm-12.control-label
										| 商品重量
									.col-sm-12.form-group
										.form-control-static 1
										.form-control-static 組
										input.form-control.inLine.words-6(type='text')
										select.form-control.inLine.words-6
											option(selected='selected', value='') 公斤
											option(value='1') 公斤
								.row
									label.col-sm-12.control-label
										| 課稅別
									.col-sm-12.form-group
										select.form-control
											option(selected='selected', value='') 應稅
											option(value='1') 未稅
								.row
									label.col-sm-12.control-label
										|  庫存不足時轉為預購
										input#inlineCheckbox1(type='checkbox', value='1')
								.row
									label.col-sm-12.form-group.next
										button.btn.btn-next 下一步

				.panel.panel-default
					.panel-heading(role='tab')
						h4.panel-title
							a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#step2', aria-expanded='false', aria-controls='step2')
								| 2. 設定販售方案
					#step2.panel-collapse.collapse(role='tabpanel')
						.panel-body
							section#addItemstep2.formlist
								.plan.row
									label.col-xs-12.col-sm-12.control-label
										| 販售方案 1
										button.btn.btn-close
									.col-xs-12.col-sm-12.form-group
										h4.form-control-static 商品數量
										input.form-control.inLine.words-6(type='text')
										.form-control-static 組
									.col-xs-12.col-sm-12.form-group
										h4.form-control-static 原價
										.form-control-static NT$
										input.form-control.inLine.words-6(type='text')
									.col-xs-12.col-sm-12.form-group
										h4.form-control-static 優惠價
										.form-control-static NT$
										input.form-control.inLine.words-6(type='text')
								.plan.row
									label.col-xs-12.col-sm-12.control-label
										| 販售方案 1
										button.btn.btn-close
									.col-xs-12.col-sm-12.form-group
										h4.form-control-static 商品數量
										input.form-control.inLine.words-6(type='text')
										.form-control-static 組
									.col-xs-12.col-sm-12.form-group
										h4.form-control-static 原價
										.form-control-static NT$
										input.form-control.inLine.words-6(type='text')
									.col-xs-12.col-sm-12.form-group
										h4.form-control-static 優惠價
										.form-control-static NT$
										input.form-control.inLine.words-6(type='text')
								.row
									label.col-sm-12.form-group
										button.btn.btn-newshoptype 新增販售方案
								.row
									label.col-sm-12.form-group.next
										button.btn.btn-next 下一步


				.panel.panel-default
					.panel-heading(role='tab')
						h4.panel-title
							a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#step3', aria-expanded='false', aria-controls='step3')
								| 3.上傳圖片或影片
					#step3.panel-collapse.collapse(role='tabpanel')
						.panel-body
							section#addItemstep3.formlist
								.row
									.col-xs-4.col-sm-4.form-group
										span.btn.btn-default.btn-file.img-select-btn
											span
											input(type='file', name='img-file-input')
									.col-xs-4.col-sm-4.form-group
										span.btn.btn-default.btn-file.img-select-btn
											span
											input(type='file', name='img-file-input')
									.col-xs-4.col-sm-4.form-group
										span.btn.btn-default.btn-file.img-select-btn
											span
											input(type='file', name='img-file-input')
								.row
									label.col-sm-12.form-group.next
										button.btn.btn-next 下一步



				.panel.panel-default
					.panel-heading(role='tab')
						h4.panel-title
							a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#step4', aria-expanded='false', aria-controls='step4')
								| 4.上/下架時間設定
					#step4.panel-collapse.collapse(role='tabpanel')
						.panel-body
							section#addItemstep4.formlist
								.timer.row
									label.col-xs-12.col-sm-12.control-label
										| 預計上架時間
									.col-xs-12.col-sm-12.form-group
										label.radio-inline
											input#inlineRadio2(type='radio', name='inlineRadioOptions', value='1')
											|  立即上架
									.col-xs-12.col-sm-12.form-group
										label.radio-inline
											input#inlineRadio2(type='radio', name='inlineRadioOptions', value='2')
											|  指定時間
									.col-xs-12.col-sm-12.input-flex
										select.form-control
											option(selected='selected', value='') 年
											option(value='1') 2018
										select.form-control
											option(selected='selected', value='') 月
											option(value='1') 12
										select.form-control
											option(selected='selected', value='') 日
											option(value='1') 31
										select.form-control
											option(selected='selected', value='') 時
											option(value='1') 23
										select.form-control
											option(selected='selected', value='') 分
											option(value='1') 59
								.timer.row
									label.col-xs-12.col-sm-12.control-label
										| 預計下架時間
									.col-xs-12.col-sm-12.form-group
										label.radio-inline
											input#inlineRadio2(type='radio', name='inlineRadioOptions', value='1')
											|  長期販售
									.col-xs-12.col-sm-12.form-group
										label.radio-inline
											input#inlineRadio2(type='radio', name='inlineRadioOptions', value='2')
											|  指定時間
									.col-xs-12.col-sm-12.input-flex
										select.form-control
											option(selected='selected', value='') 年
											option(value='1') 2018
										select.form-control
											option(selected='selected', value='') 月
											option(value='1') 12
										select.form-control
											option(selected='selected', value='') 日
											option(value='1') 31
										select.form-control
											option(selected='selected', value='') 時
											option(value='1') 23
										select.form-control
											option(selected='selected', value='') 分
											option(value='1') 59
								.row
									label.col-sm-12.form-group.next
										button.btn.btn-next 下一步


				.panel.panel-default
					.panel-heading(role='tab')
						h4.panel-title
							a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#step5', aria-expanded='false', aria-controls='step5')
								| 5.出貨設定
					#step5.panel-collapse.collapse(role='tabpanel')
						.panel-body
							section#addItemstep5.formlist
								.row
									.col-xs-12.col-sm-12
										label.control-label
											| 集貨中心地點
										select.form-control
											option(selected='selected', value='') 集貨中心地點
											option(value='1') 集貨中心地點
								.row
									.col-xs-12.col-sm-12
										label.control-label
											| 運送方式
										label.radio-inline
											input#inlineRadio2(type='radio', name='ship', value='1')
											|  常溫
										label.radio-inline
											input#inlineRadio2(type='radio', name='ship', value='2')
											|  冷藏
										label.radio-inline
											input#inlineRadio2(type='radio', name='ship', value='3')
											|  冷凍
								.row
									.col-xs-12.col-sm-12
										label.control-label
											| 配送注意事項
										label.radio-inline
											input#inlineRadio2(type='radio', name='act', value='1')
											|  易碎品
										label.radio-inline
											input#inlineRadio2(type='radio', name='act', value='2')
											|  正面朝上
								.row
									.col-xs-12.col-sm-12
										label.control-label
											| 取貨方式
										label.radio-inline
											input#inlineRadio2(type='radio', name='tak', value='1')
											|  宅配到府
										label.radio-inline
											input#inlineRadio2(type='radio', name='tak', value='2')
											|  超商取貨
								.row
									label.col-sm-12.form-group.next
										button.btn.btn-next 下一步


				.panel.panel-default
					.panel-heading(role='tab')
						h4.panel-title
							a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#step6', aria-expanded='false', aria-controls='step6')
								| 6.更多說明
					#step6.panel-collapse.collapse(role='tabpanel')
						.panel-body
							section#addItemstep6.formlist
								.row
									label.col-xs-12.col-sm-12.control-label
										| 商品簡述
									.col-xs-12.col-sm-12
										textarea.form-control(rows='3')
								.row
									label.col-xs-12.col-sm-12.control-label
										| 商品說明
									.col-xs-12.col-sm-12
										textarea.form-control(rows='3')
								.row
									label.col-sm-12.form-group.next
										button.btn.btn-next 下一步


				.panel.panel-default
					.panel-heading(role='tab')
						h4.panel-title
							a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#step7', aria-expanded='false', aria-controls='step7')
								| 7.更多資訊
					#step7.panel-collapse.collapse(role='tabpanel')
						.panel-body
							section#addItemstep7.formlist
								.row
									label.col-sm-12.control-label
										| 營養標示
									.col-xs-12.col-sm-12
										.row
											.col-xs-12.col-sm-12.form-group
												h4.form-control-static 標示格式
												label.radio-inline
													input#inlineRadio2(type='radio', name='format', value='1')
													|  公克
												label.radio-inline
													input#inlineRadio2(type='radio', name='format', value='1')
													|  百分比
											.col-xs-12.col-sm-12.form-group
												h4.form-control-static 每一份量
												input.form-control.inLine.words-6(type='text')
												.form-control-static 公克(或毫升)
											.col-xs-12.col-sm-12.form-group
												h4.form-control-static 本包裝含
												input.form-control.inLine.words-6(type='text')
												.form-control-static 份
									.col-xs-12.col-sm-12
										.nutrientcntent
											.row
												.col-xs-4.col-sm-4

												.col-xs-3.col-sm-3
													strong 每份

												.col-xs-5.col-sm-5
													strong 每100公克
													small (或每100毫升)
											.row
												.col-xs-4.col-sm-4
													span 熱量
												.col-xs-3.col-sm-3
													strong 0
													span 大卡
												.col-xs-5.col-sm-5
													.form-group
														input.form-control.inLine.words-4(type='text')
														.form-control-static 大卡
											.row
												.col-xs-4.col-sm-4
													span 熱量
												.col-xs-3.col-sm-3
													strong 0
													span 大卡
												.col-xs-5.col-sm-5
													.form-group
														input.form-control.inLine.words-4(type='text')
														.form-control-static 大卡
											.row
												.col-xs-4.col-sm-4
													span 熱量
												.col-xs-3.col-sm-3
													strong 0
													span 大卡
												.col-xs-5.col-sm-5
													.form-group
														input.form-control.inLine.words-4(type='text')
														.form-control-static 大卡
								.row.certificate
									label.col-sm-12.control-label
										| 認證標章
									.col-xs-12.col-sm-12.form-group
										label.checkbox-inline
											input(type='checkbox', name='certificate', value='1')
											img(src='../images/certificate1.jpg')
										label.checkbox-inline
											input(type='checkbox', name='certificate', value='2')
											img(src='../images/certificate2.jpg')
										label.checkbox-inline
											input(type='checkbox', name='certificate', value='3')
											img(src='../images/certificate1.jpg')
										label.checkbox-inline
											input(type='checkbox', name='certificate', value='4')
											img(src='../images/certificate2.jpg')
										label.checkbox-inline
											input(type='checkbox', name='certificate', value='5')
											| 食用前建議以清水洗淨產品，以防農藥殘留
								.row.season
									label.col-sm-12.control-label
										| 商品產季
									.col-xs-12.col-sm-12
										.row
											.col-xs-2.col-sm-2.form-group
												label.checkbox-inline
													input(type='checkbox', name='season', value='1')
													| 1
											.col-xs-2.col-sm-2.form-group
												label.checkbox-inline
													input(type='checkbox', name='season', value='2')
													| 2
											.col-xs-2.col-sm-2.form-group
												label.checkbox-inline
													input(type='checkbox', name='season', value='3')
													| 3
											.col-xs-2.col-sm-2.form-group
												label.checkbox-inline
													input(type='checkbox', name='season', value='4')
													| 4
											.col-xs-2.col-sm-2.form-group
												label.checkbox-inline
													input(type='checkbox', name='season', value='5')
													| 5
											.col-xs-2.col-sm-2.form-group
												label.checkbox-inline
													input(type='checkbox', name='season', value='6')
													| 6
										.row
											.col-xs-2.col-sm-2.form-group
												label.checkbox-inline
													input(type='checkbox', name='season', value='7')
													| 7
											.col-xs-2.col-sm-2.form-group
												label.checkbox-inline
													input(type='checkbox', name='season', value='8')
													| 8
											.col-xs-2.col-sm-2.form-group
												label.checkbox-inline
													input(type='checkbox', name='season', value='9')
													| 9
											.col-xs-2.col-sm-2.form-group
												label.checkbox-inline
													input(type='checkbox', name='season', value='10')
													| 10
											.col-xs-2.col-sm-2.form-group
												label.checkbox-inline
													input(type='checkbox', name='season', value='11')
													| 11
											.col-xs-2.col-sm-2.form-group
												label.checkbox-inline
													input(type='checkbox', name='season', value='12')
													| 12
								.row
									label.col-sm-12.control-label
										| 保存方式
									.col-xs-12.col-sm-12.form-group
										h4.form-control-static 常溫
										input.form-control.inLine.words-6(type='text')
										select.form-control.inLine.words-6
											option(selected='selected', value='') 公斤
											option(value='1') 公斤
									.col-xs-12.col-sm-12.form-group
										h4.form-control-static 冷藏
										input.form-control.inLine.words-6(type='text')
										select.form-control.inLine.words-6
											option(selected='selected', value='') 公斤
											option(value='1') 公斤
									.col-xs-12.col-sm-12.form-group
										h4.form-control-static 冷凍
										input.form-control.inLine.words-6(type='text')
										select.form-control.inLine.words-6
											option(selected='selected', value='') 公斤
											option(value='1') 公斤
								.row
									label.col-sm-12.control-label
										| 栽種面積
									.col-xs-12.col-sm-12.form-group
										.form-control-static 常溫
										input.form-control.inLine.words-6(type='text')
										select.form-control.inLine.words-6
											option(selected='selected', value='') 公斤
											option(value='1') 公斤
								.row
									label.col-sm-12.control-label
										| 烹飪食譜
									.col-xs-12.col-sm-12
										.row.recipe
											.col-xs-4.col-sm-4.form-group
												span.btn.btn-default.btn-file.img-select-btn
													span
													input(type='file', name='img-file-input')
											.col-xs-8.col-sm-8
												.row
													.col-xs-12.col-sm-12.form-group
														input.form-control(type='text', placeholder="食譜名稱")
													.col-xs-12.col-sm-12.form-group
														input.form-control(type='text', placeholder="食譜連結")
										.row.recipe
											.col-xs-4.col-sm-4
												span.btn.btn-default.btn-file.img-select-btn
													span
													input(type='file', name='img-file-input')
											.col-xs-8.col-sm-8
												.row
													.col-xs-12.col-sm-12.form-group
														input.form-control(type='text', placeholder="食譜名稱")
													.col-xs-12.col-sm-12.form-group
														input.form-control(type='text', placeholder="食譜連結")
								.row
									label.col-xs-12.col-sm-12.control-label
										| 產地位置
									.col-xs-12.col-sm-12.input-group.input-flex
										select.form-control
											option(selected='selected', value='') 縣、市
											option(value='1') 台中市
										select.form-control
											option(selected='selected', value='') 區、里
											option(value='1') 烏日區
									.col-xs-12.col-sm-12
										input.form-control(type='text')
								.row
									label.col-sm-12.form-group.next
										button.btn.btn-next 下一步


				.panel.panel-default
					.panel-heading(role='tab')
						h4.panel-title
							a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#step8', aria-expanded='false', aria-controls='step8')
								| 8.增加標籤
					#step8.panel-collapse.collapse(role='tabpanel')
						.panel-body
							section#addItemstep8.formlist
								.row
									label.col-sm-12.control-label
										| 我的標籤
									.col-xs-12.col-sm-12
										.tag
											a(href='#', title='有錢不一定買得到') 有錢不一定買得到
										.tag
											a(href='#', title='蔬果') 蔬果
										.tag
											a(href='#', title='蔬果') 蔬果
										.tag
											a(href='#', title='蔬果') 蔬果
										.tag
											a(href='#', title='蔬果') 蔬果
										.tag
											a(href='#', title='蔬果') 蔬果
								.row
									label.col-xs-12.col-sm-12.control-label
										| 新增標籤
									.col-xs-12.col-sm-12.input-group
										input.form-control(type='text', placeholder='標籤')
										span.input-group-btn
											button.btn.btn-default(type='button') 新增

								.row
									label.col-sm-12.form-group.next
										button.btn.btn-next 下一步
