extends ./_model.jade

block append meta
block title
	title GOGO
block append link

block prepend scripts

block append scripts

block header
	-var type ="buyer"
	-var page ="order-search"
	-var pagetitle ="訂單查詢"
	-var headBrand = "hidden-xs"
	-var headSearch = "hidden"
	include ./_header.jade

block content
	#six-container(class=type)(class=page)
		.container-fluid
			section#orderSearchBox
				.form-group.btnBox
					button.btn.active 最近三個月
					button.btn 三個月以上
				.panel
					.panel-heading
						.closeOrder
							botton.btn 取消訂單
						.date 2018/12/12 12:22
						.id
							| 訂單編號
							span 99999999999
								a(href='#', title='訂單明細') （訂單明細）
					.panel-body
						.inner
							.temporder
								.heading
									.id
										| 常溫/冷藏物流單號
										span 99999999999
									.step
										.step1.active
											span 訂單成立
										.step2
											span 集貨中心
										.step3
											span 物流送貨
										.step4
											span 送達簽單
								.item
									.inner
										.six-thumb.ratio4-3
											.inner
												a(href='#', title='南瓜米胚芽鳳梨酥')
													.img(style="background-image:url('../images/goodsPic.jpg');")
										.info
											h4.name
												a(href='#', title='')
													| 南瓜米胚芽鳳梨南瓜米胚芽鳳梨酥南瓜米胚芽鳳梨酥酥
											.ps
												span 優部分出貨部分出貨部分出貨
											.feedback
												a(href='#', title='') 給我評價 
										.cont
											span 9999
								.heading
									.step
										.step1.active
											span 訂單成立
										.step2
											span 集貨中心
										.step3
											span 物流送貨
										.step4
											span 送達簽單
								.item
									.inner
										.six-thumb.ratio4-3
											.inner
												a(href='#', title='南瓜米胚芽鳳梨酥')
													.img(style="background-image:url('../images/goodsPic.jpg');")
										.info
											h4.name
												a(href='#', title='')
													| 南瓜米胚芽鳳梨南瓜米胚芽鳳梨酥南瓜米胚芽鳳梨酥酥
											.ps
												span 優部分出貨部分出貨部分出貨
											.feedback
												a(href='#', title='') 給我評價 
										.cont
											span 9999
								.item
									.inner
										.six-thumb.ratio4-3
											.inner
												a(href='#', title='南瓜米胚芽鳳梨酥')
													.img(style="background-image:url('../images/goodsPic.jpg');")
										.info
											h4.name
												a(href='#', title='')
													| 南瓜米胚芽鳳梨南瓜米胚芽鳳梨酥南瓜米胚芽鳳梨酥酥
											.ps
												span 優部分出貨部分出貨部分出貨
											.feedback
												a(href='#', title='') 給我評價 
										.cont
											span 9999
							.temporder
								.heading
									.id
										| 常溫/冷藏物流單號
										span 99999999999
									.step
										.step1.active
											span 訂單成立
										.step2
											span 訂單成立
										.step3
											span 訂單成立
										.step4
											span 訂單成立
								.item
									.inner
										.six-thumb.ratio4-3
											.inner
												a(href='#', title='南瓜米胚芽鳳梨酥')
													.img(style="background-image:url('../images/goodsPic.jpg');")
										.info
											h4.name
												a(href='#', title='')
													| 南瓜米胚芽鳳梨南瓜米胚芽鳳梨酥南瓜米胚芽鳳梨酥酥
											.ps
												span 優部分出貨部分出貨部分出貨
				.panel
					.panel-heading
						.date 2018/12/12 12:22
						.id
							| 訂單編號
							span 99999999999
								a(href='#', title='訂單明細') （訂單明細）
					.panel-body
						.inner
							.temporder
								.heading
									.id
										| 常溫/冷藏物流單號
										span 99999999999
									.step
										.step1.active
											span 訂單成立
										.step2
											span 集貨中心
										.step3
											span 物流送貨
										.step4
											span 送達簽單
								.item
									.inner
										.six-thumb.ratio4-3
											.inner
												a(href='#', title='南瓜米胚芽鳳梨酥')
													.img(style="background-image:url('../images/goodsPic.jpg');")
										.info
											h4.name
												a(href='#', title='')
													| 南瓜米胚芽鳳梨南瓜米胚芽鳳梨酥南瓜米胚芽鳳梨酥酥
											.ps
												span 優部分出貨部分出貨部分出貨
											.feedback
												a(href='#', title='') 給我評價 
										.cont
											span 9999
								.item
									.inner
										.six-thumb.ratio4-3
											.inner
												a(href='#', title='南瓜米胚芽鳳梨酥')
													.img(style="background-image:url('../images/goodsPic.jpg');")
										.info
											h4.name
												a(href='#', title='')
													| 南瓜米胚芽鳳梨南瓜米胚芽鳳梨酥南瓜米胚芽鳳梨酥酥
											.ps
												span 優部分出貨部分出貨部分出貨
											.feedback
												a(href='#', title='') 給我評價 
										.cont
											span 9999