extends ./_model.jade

block append meta
block title
	title GOGO
block append link

block prepend scripts
	//- script(src="../js/velocity.min.js")
block append scripts
	//- script(src="../vendors/owl-carousel/owl.carousel.min.js")

block header
	-var type ="buyer"
	-var page ="cart"
	-var pagetitle ="購物車"
	include ./_header.jade

block content
	#six-container(class=type)(class=page)
		.container-fluid
			section#itemCartListBox
				.panel
					.panel-heading
						| 購物車
					.panel-body
						.inner
							.items
								h2 冷凍
								.item
									.choose
										input(type='checkbox', aria-label='...')
									.info
										.owner
											a(href='#', title='李氏有機農莊')
												img(src='http://placehold.it/40x40.png')
												| 李氏有機農莊
										.pic
											a(href='#', title='有機紅藜(台灣藜')
												img(src='http://placehold.it/100x100.png')
										.name
											a(href='#', title='有機紅藜(台灣藜')
												| 有機紅藜(台灣藜
											br
											| 方案
											span A
									.cont
										| 數量
										span 9999
									.price
										| $999
										br
										mark 常溫
								.item
									.choose
										input(type='checkbox', aria-label='...')
									.info
										.owner
											a(href='#', title='李氏有機農莊')
												img(src='http://placehold.it/40x40.png')
												| 李氏有機農莊
										.pic
											a(href='#', title='有機紅藜(台灣藜')
												img(src='http://placehold.it/100x100.png')
										.name
											a(href='#', title='有機紅藜(台灣藜')
												| 有機紅藜(台灣藜
											br
											| 方案
											span A
									.cont
										| 數量
										span 9999
									.price
										| $999
										br
										mark 常溫
								.total
									.useCoin
										| 使用台東金幣
										span (目前有20000000)
									.fare
										| 冷凍運費
										span (再消費99999可以免運費)
									.price
										input.form-control(type='text', placeholder='', aria-describedby='basic-addon1')
										br
										| 總計: 9999
							.items
								h2 冷凍
								.item
									.choose
										input(type='checkbox', aria-label='...')
									.info
										.owner
											a(href='#', title='李氏有機農莊')
												img(src='http://placehold.it/40x40.png')
												| 李氏有機農莊
										.pic
											a(href='#', title='有機紅藜(台灣藜')
												img(src='http://placehold.it/100x100.png')
										.name
											a(href='#', title='有機紅藜(台灣藜')
												| 有機紅藜(台灣藜
											br
											| 方案
											span A
									.cont
										| 數量
										span 9999
									.price
										| $999
										br
										mark 常溫
								.item
									.choose
										input(type='checkbox', aria-label='...')
									.info
										.owner
											a(href='#', title='李氏有機農莊')
												img(src='http://placehold.it/40x40.png')
												| 李氏有機農莊
										.pic
											a(href='#', title='有機紅藜(台灣藜')
												img(src='http://placehold.it/100x100.png')
										.name
											a(href='#', title='有機紅藜(台灣藜')
												| 有機紅藜(台灣藜
											br
											| 方案
											span A
									.cont
										span 數量
										span 9999
									.price
										span $999
										span 常溫
								.total
									.useCoin
										span 使用台東金幣
										span (目前有20000000)
									.fare
										span 冷凍運費
										span (再消費99999可以免運費)
									.price
										input.form-control(type='text', placeholder='', aria-describedby='basic-addon1')
										strong
											| 總計:
											span 9999
							.checkout
								.total
									| 總金額
									span $99999
								button.btn.btn-primary 結帳


			section#itemBeforeLookBox
				.panel
					.panel-heading
						| 看過的商品
					.panel-body
						.inner
							.items
								.item
									a(href='#', title='商品名稱')
										img(src='http://placehold.it/300x300.png')
										h4 商品名稱
										.star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											| (9999)
										.price
											del $350
											strong $999
								.item
									a(href='#', title='商品名稱')
										img(src='http://placehold.it/300x300.png')
										h4 商品名稱
										.star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											| (9999)
										.price
											del $350
											strong $999起
								.item
									a(href='#', title='商品名稱')
										img(src='http://placehold.it/300x300.png')
										h4 商品名稱
										.star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											| (9999)
										.price
											del $350
											strong $999
								.item
									a(href='#', title='商品名稱')
										img(src='http://placehold.it/300x300.png')
										h4 商品名稱
										.star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											| (9999)
										.price
											del $350
											strong $999
								.item
									a(href='#', title='商品名稱')
										img(src='http://placehold.it/300x300.png')
										h4 商品名稱
										.star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											| (9999)
										.price
											del $350
											strong $999
								.item
									a(href='#', title='商品名稱')
										img(src='http://placehold.it/300x300.png')
										h4 商品名稱
										.star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											| (9999)
										.price
											del $350
											strong $999
								.item
									a(href='#', title='商品名稱')
										img(src='http://placehold.it/300x300.png')
										h4 商品名稱
										.star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											| (9999)
										.price
											del $350
											strong $999
								.item
									a(href='#', title='商品名稱')
										img(src='http://placehold.it/300x300.png')
										h4 商品名稱
										.star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											| (9999)
										.price
											del $350
											strong $999
