extends ./_model.jade

block append meta
block title
	title GOGO
block append link

block prepend scripts
	//- script(src="../js/velocity.min.js")
block append scripts
	//- script(src="../vendors/owl-carousel/owl.carousel.min.js")

block header
	-var type ="buyer"
	-var page ="cart"
	-var pagetitle ="購物車"
	-var headBrand = "hidden-xs"
	-var headSearch = "hidden"
	include ./_header.jade

block content
	#six-container(class=type)(class=page)
		.container-fluid
			section#itemCartListBox
				.panel
					.panel-body
						.inner
							.items
								.heading
									h2 冷凍
								.item
									.inner
										.choose
											input(type='checkbox', aria-label='...')
										.pic
											.itemPic(style="background-image:url('../images/goodsPic.jpg');")
												a(href='#', title='南瓜米胚芽鳳梨酥')
													i
										.info
											.owner
												a(href='#', title='李氏有機農莊')
													img(src='http://placehold.it/40x40.png')
													| 李氏有機農莊
											h4.name
												a(href='#', title='')
													| 南瓜米胚芽鳳梨南瓜米胚芽鳳梨酥南瓜米胚芽鳳梨酥酥
											.temp.normal 常溫
											.choose.form-group
												select.form-control
													option(selected='selected', value='') 選擇方案
													option(value='1') 優惠方案A 限時$999
										.cont.form-group
											.form-control-static 數量
											select.form-control.inLine.words-6
												option(selected='selected', value='') 數量
												option(value='1') 9999
										.price
											span NT$.9999
								.item
									.inner
										.choose
											input(type='checkbox', aria-label='...')
										.pic
											.itemPic(style="background-image:url('../images/goodsPic.jpg');")
												a(href='#', title='南瓜米胚芽鳳梨酥')
													i
										.info
											.owner
												a(href='#', title='李氏有機農莊')
													img(src='http://placehold.it/40x40.png')
													| 李氏有機農莊
											h4.name
												a(href='#', title='')
													| 南瓜米胚芽鳳梨南瓜米胚芽鳳梨酥南瓜米胚芽鳳梨酥酥
											.temp.cold 冷藏
											.choose.form-group
												select.form-control
													option(selected='selected', value='') 選擇方案
													option(value='1') 優惠方案A 限時$999
										.cont.form-group
											.form-control-static 數量
											select.form-control.inLine.words-6
												option(selected='selected', value='') 數量
												option(value='1') 9999
										.price
											span NT$.9999
								.total
									.useCoin
										span 使用台東金幣
											small (目前有20000000)
										input.form-control(type='text', placeholder='', aria-describedby='basic-addon1')
									.fare
										span 冷凍運費
											small (再消費99999可以免運費)
										.price
											span 總計:
											strong  9999
							.items
								h2 冷凍
								.item
									.inner
										.choose
											input(type='checkbox', aria-label='...')
										.pic
											.itemPic(style="background-image:url('../images/goodsPic.jpg');")
												a(href='#', title='南瓜米胚芽鳳梨酥')
													i
										.info
											.owner
												a(href='#', title='李氏有機農莊')
													img(src='http://placehold.it/40x40.png')
													| 李氏有機農莊
											h4.name
												a(href='#', title='')
													| 南瓜米胚芽鳳梨南瓜米胚芽鳳梨酥南瓜米胚芽鳳梨酥酥
											.temp.freezing 冷凍
											.choose.form-group
												select.form-control
													option(selected='selected', value='') 選擇方案
													option(value='1') 優惠方案A 限時$999
										.cont.form-group
											.form-control-static 數量
											select.form-control.inLine.words-6
												option(selected='selected', value='') 數量
												option(value='1') 9999
										.price
											span NT$.9999
								.item
									.inner
										.choose
											input(type='checkbox', aria-label='...')
										.pic
											.itemPic(style="background-image:url('../images/goodsPic.jpg');")
												a(href='#', title='南瓜米胚芽鳳梨酥')
													i
										.info
											.owner
												a(href='#', title='李氏有機農莊')
													img(src='http://placehold.it/40x40.png')
													| 李氏有機農莊
											h4.name
												a(href='#', title='')
													| 南瓜米胚芽鳳梨南瓜米胚芽鳳梨酥南瓜米胚芽鳳梨酥酥
											.temp.normal 常溫
											.choose.form-group
												select.form-control
													option(selected='selected', value='') 選擇方案
													option(value='1') 優惠方案A 限時$999
										.cont.form-group
											.form-control-static 數量
											select.form-control.inLine.words-6
												option(selected='selected', value='') 數量
												option(value='1') 9999
										.price
											span NT$.9999
								.total
									.useCoin
										span 使用台東金幣
											small (目前有20000000)
										input.form-control(type='text', placeholder='', aria-describedby='basic-addon1')
									.fare
										span 冷凍運費
											small (再消費99999可以免運費)
										.price
											span 總計:
											strong  9999
							.checkout
								.total
									| 總金額
									span $99999
								button.btn.btn-primary 結帳


			section#itemBeforeLookBox
				.panel
					.panel-heading
						| 看過的商品
					.panel-body
						.inner
							.items
								.item
									a(href='#', title='商品名稱')
										img(src='http://placehold.it/300x300.png')
										h4 商品名稱
										.star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											| (9999)
										.price
											del $350
											strong $999
								.item
									a(href='#', title='商品名稱')
										img(src='http://placehold.it/300x300.png')
										h4 商品名稱
										.star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											| (9999)
										.price
											del $350
											strong $999起
								.item
									a(href='#', title='商品名稱')
										img(src='http://placehold.it/300x300.png')
										h4 商品名稱
										.star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											| (9999)
										.price
											del $350
											strong $999
								.item
									a(href='#', title='商品名稱')
										img(src='http://placehold.it/300x300.png')
										h4 商品名稱
										.star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											| (9999)
										.price
											del $350
											strong $999
								.item
									a(href='#', title='商品名稱')
										img(src='http://placehold.it/300x300.png')
										h4 商品名稱
										.star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											| (9999)
										.price
											del $350
											strong $999
								.item
									a(href='#', title='商品名稱')
										img(src='http://placehold.it/300x300.png')
										h4 商品名稱
										.star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											| (9999)
										.price
											del $350
											strong $999
								.item
									a(href='#', title='商品名稱')
										img(src='http://placehold.it/300x300.png')
										h4 商品名稱
										.star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											| (9999)
										.price
											del $350
											strong $999
								.item
									a(href='#', title='商品名稱')
										img(src='http://placehold.it/300x300.png')
										h4 商品名稱
										.star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											| (9999)
										.price
											del $350
											strong $999
