extends ./_model.jade

block append meta
block title
	title GOGO
block append link
	link(href='../vendors/owl-carousel/assets/owl.carousel.css', rel='stylesheet')
	link(href='../vendors/owl-carousel/assets/owl.theme.default.css', rel='stylesheet')
block prepend scripts
	//- script(src="../js/velocity.min.js")
block append scripts
	script(src="../vendors/owl-carousel/owl.carousel.min.js")
	script.
		$(document).ready(function () {
			var owlC = $('#mainCarousel .owl-carousel');
			owlC.owlCarousel({
				animateOut: 'slideOutDown',
				animateIn: 'flipInX',
				margin: 0,
				autoplay: true,
				autoplayTimeout: 6000,
				loop: true,
				items: 1,
				autoHeight: true,
				nav: true,
				navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>']
			})
			var owlF = $('#farmCarousel');
			owlF.owlCarousel({
				animateOut: 'slideOutDown',
				animateIn: 'flipInX',
				margin: 10,
				autoplay: true,
				autoplayTimeout: 6000,
				loop: true,
				responsive:{
					0:{
						items:3,
						nav:true
					},
					600:{
						items:8,
						nav:false
					},
					1400:{
						items:12,
						nav:true
					}
				},
				autoHeight: true,
				nav: true,
				navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>']
			})
		});

block header
	-var type ="buyer"
	-var page ="main"
	include ./_header.jade

block content
	#six-container(class=type)(class=page)
		.container-fluid
			section#mainCarousel
				.owl-carousel
					.owl-item
						.six-thumb
							.inner
								a(href='#', title='圖片說明')
									.img(style="background-image:url('../images/carousel.jpg');")
					.owl-item
						.six-thumb
							.inner
								a(href='#', title='圖片說明')
									.img(style="background-image:url('http://placehold.it/1024x450.png');")
					.owl-item
						.six-thumb
							.inner
								a(href='#', title='圖片說明')
									.img(style="background-image:url('http://placehold.it/1280x450.png');")
					.owl-item
						.six-thumb
							.inner
								a(href='#', title='圖片說明')
									.img(style="background-image:url('http://placehold.it/1600x450.png');")
					.owl-item
						.six-thumb
							.inner
								a(href='#', title='圖片說明')
									.img(style="background-image:url('http://placehold.it/1980x450.png');")
				.clear
			section#recommendedfarm
				.panel
					.panel-heading
						| 每日推薦農莊
						.pull-right
							.btn-group
								button.btn.btn-primary.btn-xs(type='button')
									| MORE
					.panel-body
						.inner
							#farmCarousel.owl-carousel.owl-theme
								.item
									.six-thumb
										.inner
											a(href='#', title='農莊名稱')
												.img(style="background-image:url('../images/formLogo.jpg');")
											.caption
												a(href='#', title='農莊名稱')
													span 農莊名稱
								.item
									.six-thumb
										.inner
											a(href='#', title='農莊名稱')
												.img(style="background-image:url('../images/formLogo.jpg');")
											.caption
												a(href='#', title='農莊名稱')
													span 農莊名稱農
								.item
									.six-thumb
										.inner
											a(href='#', title='農莊名稱')
												.img(style="background-image:url('../images/formLogo.jpg');")
											.caption
												a(href='#', title='農莊名稱')
													span 農莊名稱農莊
								.item
									.six-thumb
										.inner
											a(href='#', title='農莊名稱')
												.img(style="background-image:url('../images/formLogo.jpg');")
											.caption
												a(href='#', title='農莊名稱')
													span 農莊名稱農莊名稱
								.item
									.six-thumb
										.inner
											a(href='#', title='農莊名稱')
												.img(style="background-image:url('../images/formLogo.jpg');")
											.caption
												a(href='#', title='農莊名稱')
													span 農莊名稱農莊名稱
								.item
									.six-thumb
										.inner
											a(href='#', title='農莊名稱')
												.img(style="background-image:url('../images/formLogo.jpg');")
											.caption
												a(href='#', title='農莊名稱')
													span 農莊名稱農莊名稱
								.item
									.six-thumb
										.inner
											a(href='#', title='農莊名稱')
												.img(style="background-image:url('../images/formLogo.jpg');")
											.caption
												a(href='#', title='農莊名稱')
													span 農莊名稱農莊名稱
								.item
									.six-thumb
										.inner
											a(href='#', title='農莊名稱')
												.img(style="background-image:url('../images/formLogo.jpg');")
											.caption
												a(href='#', title='農莊名稱')
													span 農莊名稱農莊名稱
								.item
									.six-thumb
										.inner
											a(href='#', title='農莊名稱')
												.img(style="background-image:url('../images/formLogo.jpg');")
											.caption
												a(href='#', title='農莊名稱')
													span 農莊名稱農莊名稱
								.item
									.six-thumb
										.inner
											a(href='#', title='農莊名稱')
												.img(style="background-image:url('../images/formLogo.jpg');")
											.caption
												a(href='#', title='農莊名稱')
													span 農莊名稱農莊名稱
								.item
									.six-thumb
										.inner
											a(href='#', title='農莊名稱')
												.img(style="background-image:url('../images/formLogo.jpg');")
											.caption
												a(href='#', title='農莊名稱')
													span 農莊名稱農莊名稱
			section#goodslist
				.panel
					.panel-heading
					.panel-body
						.inner
							.items
								.item.goods.col-lg-3.col-md-4.col-sm-6.col-xs-12
									.inner
										.six-thumb.ratio4-3
											.inner
												a(href='#', title='南瓜米胚芽鳳梨酥')
													.img(style="background-image:url('../images/goodsPic.jpg');")
										.info
											.title
												a(href='#', title='')
													| 南瓜米
											.price
												del $350
												strong $999
											.certificate
												a(href='#', title='')
													img(src='../images/certificate1.jpg', alt='標章')
												a(href='#', title='')
													img(src='../images/certificate2.jpg', alt='標章')
												a(href='#', title='')
													img(src='../images/certificate1.jpg', alt='標章')
												a(href='#', title='')
													img(src='../images/certificate2.jpg', alt='標章')

											.form-group.btnbox
												button.btn.love.off
												button.btn.cart
								.item.goods.col-lg-3.col-md-4.col-sm-6.col-xs-12
									.inner
										.six-thumb.ratio4-3
											.inner
												a(href='#', title='圖片說明')
													.img
														iframe(src='https://www.youtube.com/embed/EGjgJ20l09M', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
										.info
											.title
												a(href='#', title='')
													| 南瓜米胚芽鳳梨南瓜米胚
											.price
												del $350
												strong $999
											.certificate
												a(href='#', title='')
													img(src='../images/certificate1.jpg', alt='標章')
												a(href='#', title='')
													img(src='../images/certificate2.jpg', alt='標章')
												a(href='#', title='')
													img(src='../images/certificate1.jpg', alt='標章')
												a(href='#', title='')
													img(src='../images/certificate2.jpg', alt='標章')

											.form-group.btnbox
												button.btn.love.on
												button.btn.cart.on
								.item.goods.col-lg-3.col-md-4.col-sm-6.col-xs-12
									.inner
										.six-thumb.ratio4-3
											.inner
												a(href='#', title='南瓜米胚芽鳳梨酥')
													.img(style="background-image:url('../images/goodsPic.jpg');")
										.info
											.title
												a(href='#', title='')
													| 南瓜米胚芽鳳梨南瓜米胚
											.price
												del $350
												strong $999
											.certificate
												a(href='#', title='')
													img(src='../images/certificate1.jpg', alt='標章')
												a(href='#', title='')
													img(src='../images/certificate2.jpg', alt='標章')
												a(href='#', title='')
													img(src='../images/certificate1.jpg', alt='標章')
												a(href='#', title='')
													img(src='../images/certificate2.jpg', alt='標章')

											.form-group.btnbox
												button.btn.love.on
												button.btn.cart
								.item.goods.col-lg-3.col-md-4.col-sm-6.col-xs-12
									.inner
										.six-thumb.ratio4-3
											.inner
												a(href='#', title='南瓜米胚芽鳳梨酥')
													.img(style="background-image:url('../images/goodsPic.jpg');")
										.info
											.title
												a(href='#', title='')
													| 南瓜米胚芽鳳梨南瓜米胚
											.price
												del $350
												strong $999
											.certificate
												a(href='#', title='')
													img(src='../images/certificate1.jpg', alt='標章')
												a(href='#', title='')
													img(src='../images/certificate2.jpg', alt='標章')
												a(href='#', title='')
													img(src='../images/certificate1.jpg', alt='標章')
												a(href='#', title='')
													img(src='../images/certificate2.jpg', alt='標章')

											.form-group.btnbox
												button.btn.love.on
												button.btn.cart
								.item.goods.col-lg-3.col-md-4.col-sm-6.col-xs-12
									.inner
										.six-thumb.ratio4-3
											.inner
												a(href='#', title='南瓜米胚芽鳳梨酥')
													.img(style="background-image:url('../images/goodsPic.jpg');")
										.info
											.title
												a(href='#', title='')
													| 南瓜米胚芽鳳梨南瓜米胚
											.price
												del $350
												strong $999
											.certificate
												a(href='#', title='')
													img(src='../images/certificate1.jpg', alt='標章')
												a(href='#', title='')
													img(src='../images/certificate2.jpg', alt='標章')
												a(href='#', title='')
													img(src='../images/certificate1.jpg', alt='標章')
												a(href='#', title='')
													img(src='../images/certificate2.jpg', alt='標章')

											.form-group.btnbox
												button.btn.love.on
												button.btn.cart
								.item.goods.col-lg-3.col-md-4.col-sm-6.col-xs-12
									.inner
										.six-thumb.ratio4-3
											.inner
												a(href='#', title='南瓜米胚芽鳳梨酥')
													.img(style="background-image:url('../images/goodsPic.jpg');")
										.info
											.title
												a(href='#', title='')
													| 南瓜米胚芽鳳梨南瓜米胚
											.price
												del $350
												strong $999
											.certificate
												a(href='#', title='')
													img(src='../images/certificate1.jpg', alt='標章')
												a(href='#', title='')
													img(src='../images/certificate2.jpg', alt='標章')
												a(href='#', title='')
													img(src='../images/certificate1.jpg', alt='標章')
												a(href='#', title='')
													img(src='../images/certificate2.jpg', alt='標章')

											.form-group.btnbox
												button.btn.love.on
												button.btn.cart

