extends ./_model.jade

block append meta
block title
	title GOGO
block append link
	link(href='../vendors/owl-carousel/assets/owl.carousel.css', rel='stylesheet')
	link(href='../vendors/owl-carousel/assets/owl.theme.default.css', rel='stylesheet')
block prepend scripts
	//- script(src="../js/velocity.min.js")
block append scripts
	script(src="../vendors/owl-carousel/owl.carousel.min.js")
	script.
		$(document).ready(function () {
			var owlC = $('#mainCarousel .owl-carousel');
			owlC.owlCarousel({
				animateOut: 'slideOutDown',
				animateIn: 'flipInX',
				margin: 0,
				autoplay: true,
				autoplayTimeout: 6000,
				loop: true,
				items: 1,
				autoHeight: true,
				nav: true,
				navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>']
			})
		});

block header
	-var type ="buyer"
	-var page ="list"
	-var pagetitle ="商品列表"
	-var headBrand = "hidden-xs"
	-var headSearch = "hidden"
	include ./_header.jade

block content
	#six-container(class=type)(class=page)
		.container-fluid
			section#mainCarousel
				.owl-carousel
					.owl-item
						.six-thumb.bg
							.inner
								a(href='#', title='圖片說明')
									.img(style="background-image:url('../images/carousel.jpg');")
					.owl-item
						.six-thumb.bg
							.inner
								a(href='#', title='圖片說明')
									.img(style="background-image:url('http://placehold.it/1024x450.png');")
					.owl-item
						.six-thumb.bg
							.inner
								a(href='#', title='圖片說明')
									.img(style="background-image:url('http://placehold.it/1280x450.png');")
					.owl-item
						.six-thumb.bg
							.inner
								a(href='#', title='圖片說明')
									.img(style="background-image:url('http://placehold.it/1600x450.png');")
					.owl-item
						.six-thumb.bg
							.inner
								a(href='#', title='圖片說明')
									.img(style="background-image:url('http://placehold.it/1980x450.png');")

			section#goodslist
				.panel
					.panel-heading
					.panel-body
						.inner
							.item.col-lg-3.col-md-4.col-sm-6.col-xs-12
								.inner
									.six-thumb.bg
										.inner
											a(href='#', title='南瓜米胚芽鳳梨酥')
												.img(style="background-image:url('../images/goodsPic.jpg');")
									.info
										h4.name
											a(href='#', title='')
												| 南瓜米胚芽鳳梨南瓜米胚芽鳳梨酥南瓜米胚芽鳳梨酥酥
									.price
										del $350
										strong $999
									.certificate
										a(href='#', title='')
											img(src='../images/certificate1.jpg', alt='標章')
										a(href='#', title='')
											img(src='../images/certificate2.jpg', alt='標章')
										a(href='#', title='')
											img(src='../images/certificate1.jpg', alt='標章')
										a(href='#', title='')
											img(src='../images/certificate2.jpg', alt='標章')

									.form-group.btnbox
										button.btn.love.off
										button.btn.cart
							.item.col-lg-3.col-md-4.col-sm-6.col-xs-12
								.inner
									.six-thumb.bg
										.inner
											a(href='#', title='南瓜米胚芽鳳梨酥')
												.img(style="background-image:url('../images/goodsPic.jpg');")
									.info
										h4.name
											a(href='#', title='')
												| 南瓜米胚芽鳳梨南瓜米胚芽鳳梨酥南瓜米胚芽鳳梨酥酥
									.price
										del $350
										strong $999
									.certificate
										a(href='#', title='')
											img(src='../images/certificate1.jpg', alt='標章')
										a(href='#', title='')
											img(src='../images/certificate2.jpg', alt='標章')
										a(href='#', title='')
											img(src='../images/certificate1.jpg', alt='標章')
										a(href='#', title='')
											img(src='../images/certificate2.jpg', alt='標章')

									.form-group.btnbox
										button.btn.love.off
										button.btn.cart
							.item.col-lg-3.col-md-4.col-sm-6.col-xs-12
								.inner
									.six-thumb.bg
										.inner
											a(href='#', title='南瓜米胚芽鳳梨酥')
												.img(style="background-image:url('../images/goodsPic.jpg');")
									.info
										h4.name
											a(href='#', title='')
												| 南瓜米胚芽鳳梨南瓜米胚芽鳳梨酥南瓜米胚芽鳳梨酥酥
									.price
										del $350
										strong $999
									.certificate
										a(href='#', title='')
											img(src='../images/certificate1.jpg', alt='標章')
										a(href='#', title='')
											img(src='../images/certificate2.jpg', alt='標章')
										a(href='#', title='')
											img(src='../images/certificate1.jpg', alt='標章')
										a(href='#', title='')
											img(src='../images/certificate2.jpg', alt='標章')

									.form-group.btnbox
										button.btn.love.off
										button.btn.cart
							.item.col-lg-3.col-md-4.col-sm-6.col-xs-12
								.inner
									.six-thumb.bg
										.inner
											a(href='#', title='南瓜米胚芽鳳梨酥')
												.img(style="background-image:url('../images/goodsPic.jpg');")
									.info
										h4.name
											a(href='#', title='')
												| 南瓜米胚芽鳳梨南瓜米胚芽鳳梨酥南瓜米胚芽鳳梨酥酥
									.price
										del $350
										strong $999
									.certificate
										a(href='#', title='')
											img(src='../images/certificate1.jpg', alt='標章')
										a(href='#', title='')
											img(src='../images/certificate2.jpg', alt='標章')
										a(href='#', title='')
											img(src='../images/certificate1.jpg', alt='標章')
										a(href='#', title='')
											img(src='../images/certificate2.jpg', alt='標章')

									.form-group.btnbox
										button.btn.love.off
										button.btn.cart
							.item.col-lg-3.col-md-4.col-sm-6.col-xs-12
								.inner
									.six-thumb.bg
										.inner
											a(href='#', title='南瓜米胚芽鳳梨酥')
												.img(style="background-image:url('../images/goodsPic.jpg');")
									.info
										h4.name
											a(href='#', title='')
												| 南瓜米胚芽鳳梨南瓜米胚芽鳳梨酥南瓜米胚芽鳳梨酥酥
									.price
										del $350
										strong $999
									.certificate
										a(href='#', title='')
											img(src='../images/certificate1.jpg', alt='標章')
										a(href='#', title='')
											img(src='../images/certificate2.jpg', alt='標章')
										a(href='#', title='')
											img(src='../images/certificate1.jpg', alt='標章')
										a(href='#', title='')
											img(src='../images/certificate2.jpg', alt='標章')

									.form-group.btnbox
										button.btn.love.off
										button.btn.cart
							.item.col-lg-3.col-md-4.col-sm-6.col-xs-12
								.inner
									.six-thumb.bg
										.inner
											a(href='#', title='南瓜米胚芽鳳梨酥')
												.img(style="background-image:url('../images/goodsPic.jpg');")
									.info
										h4.name
											a(href='#', title='')
												| 南瓜米胚芽鳳梨南瓜米胚芽鳳梨酥南瓜米胚芽鳳梨酥酥
									.price
										del $350
										strong $999
									.certificate
										a(href='#', title='')
											img(src='../images/certificate1.jpg', alt='標章')
										a(href='#', title='')
											img(src='../images/certificate2.jpg', alt='標章')
										a(href='#', title='')
											img(src='../images/certificate1.jpg', alt='標章')
										a(href='#', title='')
											img(src='../images/certificate2.jpg', alt='標章')

									.form-group.btnbox
										button.btn.love.off
										button.btn.cart
							.item.col-lg-3.col-md-4.col-sm-6.col-xs-12
								.inner
									.six-thumb.bg
										.inner
											a(href='#', title='南瓜米胚芽鳳梨酥')
												.img(style="background-image:url('../images/goodsPic.jpg');")
									.info
										h4.name
											a(href='#', title='')
												| 南瓜米胚芽鳳梨南瓜米胚芽鳳梨酥南瓜米胚芽鳳梨酥酥
									.price
										del $350
										strong $999
									.certificate
										a(href='#', title='')
											img(src='../images/certificate1.jpg', alt='標章')
										a(href='#', title='')
											img(src='../images/certificate2.jpg', alt='標章')
										a(href='#', title='')
											img(src='../images/certificate1.jpg', alt='標章')
										a(href='#', title='')
											img(src='../images/certificate2.jpg', alt='標章')

									.form-group.btnbox
										button.btn.love.off
										button.btn.cart

