extends ./_model.jade

block append meta
block title
	title GOGO
block append link

block prepend scripts

block append scripts

block header
	-var type ="seller"
	-var page ="tag"
	-var pagetitle ="標籤管理"
	-var headBrand ="hidden-xs"
	-var headSearch ="hidden"
	include ./_header.jade

block content
	#six-container(class=type)(class=page)
		.container-fluid
			section#editTag
				.panel
					.panel-heading
						.filter
							div
								| 共
								span 4
								| 項商品
							.form-group
								button.btn 篩選
					.panel-body
						.inner
							.items
								.item
									.choose
										input(type='checkbox', name='season', value='10')
									.tag
										span.label.label-info 標籤標籤標籤標籤標籤 標籤標籤標籤標 籤標籤標籤標籤
									.cont
										span 999
										| 項商品
								.item
									.choose
										input(type='checkbox', name='season', value='10')
									.tag
										span.label.label-info 標籤標籤標籤標籤
									.cont
										span 999
										| 項商品
								.item
									.choose
										input(type='checkbox', name='season', value='10')
									.tag
										span.label.label-info 標籤標籤標籤標籤
									.cont
										span 999
										| 項商品
								.item
									.choose
										input(type='checkbox', name='season', value='10')
									.tag
										span.label.label-info 標籤標籤標籤標籤
									.cont
										span 999
										| 項商品
								.item
									.choose
										input(type='checkbox', name='season', value='10')
									.tag
										span.label.label-info 標籤標籤標籤標籤
									.cont
										span 999
										| 項商品
								.item
									.choose
										input(type='checkbox', name='season', value='10')
									.tag
										span.label.label-info 標籤標籤標籤標籤
									.cont
										span 999
										| 項商品
								.item
									.choose
										input(type='checkbox', name='season', value='10')
									.tag
										span.label.label-info 標籤標籤標籤標籤
									.cont
										span 999
										| 項商品