extends ./_model.jade

block append meta
block title
	title GOGO
block append link

block prepend scripts

block append scripts

block header
	-var type ="seller"
	-var page ="message"
	-var pagetitle ="訊息通知"
	-var headBrand ="hidden-xs"
	-var headSearch ="hidden"
	include ./_header.jade

block content
	#six-container(class=type)(class=page)
			.container-fluid
				section#nav-tabs
					ul.nav.nav-tabs(role='tablist')
						li.active(role='presentation')
							a(href='#tag1', aria-controls='tag1', role='tab', data-toggle='tab') 系統通知
						li(role='presentation')
							a(href='#tag2', aria-controls='tag2', role='tab', data-toggle='tab') 出貨通知
						li(role='presentation')
							a(href='#tag3', aria-controls='tag3', role='tab', data-toggle='tab') 問與答

					.tab-content
						#tag1.tab-pane.active(role='tabpanel')
							section#messageList.systemNotice.panel-group(role='tablist', aria-multiselectable='true')
								.panel
									#heading1.panel-heading(role='tab')
										a(role='button', data-toggle='collapse', data-parent='.systemNotice', href='#msg1', aria-expanded='true', aria-controls='msg1')
											blockquote
												p
													| [出貨通知]訂單編號：99999999999
												footer
													| 2018/01/01 上午5:30 已從關山集貨中心出貨！
												.open
									#msg1.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='heading1')
										.panel-body
											blockquote
												p
													| [出貨通知]訂單編號：99999999999
												footer
													| 2018/01/01 上午5:30 已從關山集貨中心出貨！
											blockquote
												p
													| [出貨通知]訂單編號：99999999999
												footer
													| 2018/01/01 上午5:30 已從關山集貨中心出貨！
											blockquote
												p
													| [出貨通知]訂單編號：99999999999
												footer
													| 2018/01/01 上午5:30 已從關山集貨中心出貨！


								.panel
									#heading2.panel-heading(role='tab')
										a.collapsed(role='button', data-toggle='collapse', data-parent='.systemNotice', href='#msg2', aria-expanded='false', aria-controls='msg2')
											blockquote
												p
													| [出貨通知]訂單編號：99999999999
												footer
													| 2018/01/01 上午5:30 已從關山集貨中心出貨！
												.open
									#msg2.panel-collapse.collapse(role='tabpanel', aria-labelledby='heading2')
										.panel-body
											blockquote
												p
													| [出貨通知]訂單編號：99999999999
												footer
													| 2018/01/01 上午5:30 已從關山集貨中心出貨！
											blockquote
												p
													| [出貨通知]訂單編號：99999999999
												footer
													| 2018/01/01 上午5:30 已從關山集貨中心出貨！
											blockquote
												p
													| [出貨通知]訂單編號：99999999999
												footer
													| 2018/01/01 上午5:30 已從關山集貨中心出貨！


								.panel
									#heading3.panel-heading(role='tab')
										a.collapsed(role='button', data-toggle='collapse', data-parent='.systemNotice', href='#msg3', aria-expanded='false', aria-controls='msg3')
											blockquote
												p
													| [出貨通知]訂單編號：99999999999
												footer
													| 2018/01/01 上午5:30 已從關山集貨中心出貨！
												.open
									#msg3.panel-collapse.collapse(role='tabpanel', aria-labelledby='heading3')
										.panel-body
											blockquote
												p
													| [出貨通知]訂單編號：99999999999
												footer
													| 2018/01/01 上午5:30 已從關山集貨中心出貨！
											blockquote
												p
													| [出貨通知]訂單編號：99999999999
												footer
													| 2018/01/01 上午5:30 已從關山集貨中心出貨！
											blockquote
												p
													| [出貨通知]訂單編號：99999999999
												footer
													| 2018/01/01 上午5:30 已從關山集貨中心出貨！
													| 2018/01/01 上午5:30 已從關山集貨中心出貨！
						#tag2.tab-pane(role='tabpanel')
							section#messageList.shipNotice
								.panel.viewA
									.panel-heading
										.date
											strong 2018年12月12日(五) 早上10:00
											span 已完成統計

										.setPoint
											span 集貨點:
											strong 關山農會

									.panel-body
										.inner
											.items
												.item
													.inner
														.six-thumb.ratio4-3
															.inner
																a(href='#', title='南瓜米胚芽鳳梨酥')
																	.img(style="background-image:url('../images/goodsPic.jpg');")
														.info
															.title
																a(href='#', title='')
																	| 南瓜米胚芽鳳梨南瓜米胚芽鳳梨酥南瓜米胚芽鳳梨酥酥
															.cont
																span 出貨數量
																strong 7盒
												.item
													.inner
														.six-thumb.ratio4-3
															.inner
																a(href='#', title='南瓜米胚芽鳳梨酥')
																	.img(style="background-image:url('../images/goodsPic.jpg');")
														.info
															.title
																a(href='#', title='')
																	| 南瓜米胚芽鳳梨南瓜米胚芽鳳梨酥南瓜米胚芽鳳梨酥酥
															.cont
																span 出貨數量
																strong 7盒
												.item
													.inner
														.six-thumb.ratio4-3
															.inner
																a(href='#', title='南瓜米胚芽鳳梨酥')
																	.img(style="background-image:url('../images/goodsPic.jpg');")
														.info
															.title
																a(href='#', title='')
																	| 南瓜米胚芽鳳梨南瓜米胚芽鳳梨酥南瓜米胚芽鳳梨酥酥
															.cont
																span 出貨數量
																strong 7盒
												.item
													.inner
														.six-thumb.ratio4-3
															.inner
																a(href='#', title='南瓜米胚芽鳳梨酥')
																	.img(style="background-image:url('../images/goodsPic.jpg');")
														.info
															.title
																a(href='#', title='')
																	| 南瓜米胚芽鳳梨南瓜米胚芽鳳梨酥南瓜米胚芽鳳梨酥酥
															.cont
																span 出貨數量
																strong 7盒
								.panel.viewB
									.panel-body
										.inner
											.items
												.item
													.inner
														.id
															span 訂單編號
															strong 20654283
														.group
															.set
																.info
																	.title
																		a(href='#', title='')
																			| 南瓜米胚芽鳳梨南瓜米胚芽鳳梨酥南瓜米胚芽鳳梨酥酥
																	.choose
																		span 方案C (3盒)
																.price
																	strong 2 組
															.set
																.info
																	.title
																		a(href='#', title='')
																			| 南瓜米胚芽鳳梨南瓜米胚芽鳳梨酥南瓜米胚芽鳳梨酥酥
																	.choose
																		span 方案C (3盒)
																.price
																	strong 2 組
												.item
													.inner
														.id
															span 訂單編號
															strong 20654283
														.group
															.set
																.info
																	.title
																		a(href='#', title='')
																			| 南瓜米胚芽鳳梨南瓜米胚芽鳳梨酥南瓜米胚芽鳳梨酥酥
																	.choose
																		span 方案C (3盒)
																.price
												.item
													.inner
														.id
															span 訂單編號
															strong 20654283
														.group
															.set
																.info
																	.title
																		a(href='#', title='')
																			| 南瓜米胚芽鳳梨南瓜米胚芽鳳梨酥南瓜米胚芽鳳梨酥酥
																	.choose
																		span 方案C (3盒)
																.price
																	strong 2 組
															.set
																.info
																	.title
																		a(href='#', title='')
																			| 南瓜米胚芽鳳梨南瓜米胚芽鳳梨酥南瓜米胚芽鳳梨酥酥
																	.choose
																		span 方案C (3盒)
																.price
																	strong 2 組

						#tag3.tab-pane(role='tabpanel')
							section#messageList.qa
								.panel
									.panel-body
										.inner
											.items
												.item
													.inner
														.six-thumb.ratio4-3
															.inner
																a(href='#', title='南瓜米胚芽鳳梨酥')
																	.img(style="background-image:url('../images/goodsPic.jpg');")

														.info
															a(href='#', title='')
																.date
																	span 2018/01/31 07:00:00
																.title
																	| 問題問題問題問題問題問題問題問題問題
																.sub
																	| 問題內容問題內容問題內容問題內容問題內容問題內容問題內容
												.item
													.inner
														.six-thumb.ratio4-3
															.inner
																a(href='#', title='南瓜米胚芽鳳梨酥')
																	.img(style="background-image:url('../images/goodsPic.jpg');")
														.info
															a(href='#', title='')
																.date
																	span 2018/01/31 07:00:00
																.title
																	| 問題問題問題問題問題問題問題問題問題
																.sub
																	| 問題內容問題內容問題內容問題內容問題內容問題內容問題內容
												.item
													.inner
														.six-thumb.ratio4-3
															.inner
																a(href='#', title='南瓜米胚芽鳳梨酥')
																	.img(style="background-image:url('../images/goodsPic.jpg');")

														.info
															a(href='#', title='')
																.date
																	span 2018/01/31 07:00:00
																.title
																	| 問題問題問題問題問題問題問題問題問題
																.sub
																	| 問題內容問題內容問題內容問題內容問題內容問題內容問題內容
												.item
													.inner
														.six-thumb.ratio4-3
															.inner
																a(href='#', title='南瓜米胚芽鳳梨酥')
																	.img(style="background-image:url('../images/goodsPic.jpg');")

														.info
															a(href='#', title='')
																.date
																	span 2018/01/31 07:00:00
																.title
																	| 問題問題問題問題問題問題問題問題問題
																.sub
																	| 問題內容問題內容問題內容問題內容問題內容問題內容問題內容
												.item
													.inner
														.six-thumb.ratio4-3
															.inner
																a(href='#', title='南瓜米胚芽鳳梨酥')
																	.img(style="background-image:url('../images/goodsPic.jpg');")

														.info
															a(href='#', title='')
																.date
																	span 2018/01/31 07:00:00
																.title
																	| 問題問題問題問題問題問題問題問題問題
																.sub
																	| 問題內容問題內容問題內容問題內容問題內容問題內容問題內容