extends ./_model.jade

block append meta
block title
	title GOGO
block append link
	//- link(href='../css/owl.carousel.css', rel='stylesheet')

block prepend scripts
	//- script(src="../js/velocity.min.js")
block append scripts
	//- script(src="../vendors/owl-carousel/owl.carousel.min.js")

block header
	-var type ="seller"
	-var page ="myitems"
	-var pagetitle ="我的商品"
	include ./_header.jade

block content
	#six-container(class=type)(class=page)
		section.searchbar
			.input-group
				input.form-control(type='text', placeholder='Search for...')
				span.input-group-btn
					button.btn(type='button')

		.container-fluid
			section#myitemlist
				.panel
					.panel-heading
						.filter
							div
								| 共
								span 4
								| 項商品
							.form-group
								button.btn 篩選
					.panel-body
						.inner
							.item.col-lg-3.col-md-4.col-sm-6.col-xs-12
								.inner
									.itemPic.scale
										a(href='#', title='')
											img(src='../images/goodsPic.jpg', alt='南瓜米胚芽鳳梨酥')
									.body
										.id
											| 編號：
											span 20654283
										h4.name
											a(href='#', title='') 南瓜米胚芽鳳梨酥
										.price
											del NT.9999
											| NT.9999
										.farm
											span 美地有機農園
										.state.on
											span 穩定販售
									button.btn
										span &gt;
							.item.col-lg-3.col-md-4.col-sm-6.col-xs-12
								.inner
									.itemPic.scale
										a(href='#', title='')
											img(src='../images/goodsPic.jpg', alt='南瓜米胚芽鳳梨酥')
									.body
										.id
											| 編號：
											span 20654283
										h4.name
											a(href='#', title='') 南瓜米胚芽鳳梨酥
										.price
											del NT.9999
											span NT.9999
										.farm
											span 美地有機農園
										.state.off
											span 未上架
									button.btn
										span &gt;
							.item.col-lg-3.col-md-4.col-sm-6.col-xs-12
								.inner
									.itemPic.scale
										a(href='#', title='')
											img(src='../images/goodsPic.jpg', alt='南瓜米胚芽鳳梨酥')
									.body
										.id
											| 編號：
											span 20654283
										h4.name
											a(href='#', title='') 南瓜米胚芽鳳梨酥南瓜米胚芽鳳梨酥
										.price
											del NT.9999
											| NT.9999
										.farm
											span 美地有機農園
										.state.rep
											span 該補貨了
									button.btn
										span &gt;
							.item.col-lg-3.col-md-4.col-sm-6.col-xs-12
								.inner
									.itemPic.scale
										a(href='#', title='')
											img(src='../images/goodsPic.jpg', alt='南瓜米胚芽鳳梨酥')
									.body
										.id
											| 編號：
											span 20654283
										h4.name
											a(href='#', title='') 南瓜米胚芽鳳梨酥
										.price
											del NT.9999
											span NT.9999
										.farm
											span 美地有機農園
										.state.off
											span 未上架
									button.btn
										span &gt;
							.item.col-lg-3.col-md-4.col-sm-6.col-xs-12
								.inner
									.itemPic.scale
										a(href='#', title='')
											img(src='../images/goodsPic.jpg', alt='南瓜米胚芽鳳梨酥')
									.body
										.id
											| 編號：
											span 20654283
										h4.name
											a(href='#', title='') 南瓜米胚芽鳳梨酥
										.price
											del NT.9999
											| NT.9999
										.farm
											span 美地有機農園
										.state.rep
											span 該補貨了
									button.btn
										span &gt;
